@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  30% {
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInDown2 {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown22 {
  from {
    height: 0;
    
    visibility: visible;
  }

  to {
    height: 100px;
    
  }
}
.slideInDown22 {
  animation-name: slideInDown22;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.fadeInRight {
  animation-name: fadeInRight;
}
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeInDown2 {
  animation-name: fadeInDown2;
}
.slideInUp {
  animation-name: slideInUp;
}
.slideInDown {
  animation-name: slideInDown;
}
.fadeIn {
  animation-name: fadeIn;
}


/* reset */
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
ul li, ol li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none; background: none; text-indent: -9999px;
}
html {font-size: 0.625em;}
body {overflow-x: hidden;}
img {
  border: none;
}
h1 {margin: 0;}
h3, .navInner a, .nnpWrap, .crWrap {
  font-family: 'PT Sans', sans-serif;
}
p, h4 {
  font-family: 'Gothic A1', sans-serif;
  color: #474747;
}
.blind {
  position: absolute; top: -9999px; left: -9999px;
}
iframe {
  border: none;
}
i {font-style: normal;}


/* header */

.navWrap {
  position: fixed; top: 0; left: 0; z-index: 500;
  width: 100%;
}
h1 {
  position: absolute; top: 12px; left: 1.875%;
  width: 65px;
}
h1 img {
  width: 100%;
}
.navBtn {
  position: absolute; top: 14px; right:2.5%;
  width: 26px; height: 19px;
  cursor: pointer;
}
.navBtn span {
  display: block;
  width: 100%; height: 3px;
  border-radius: 3px;
  background: #000;
  text-indent: -9999px;
}
.navBtn span:nth-child(2) {
  margin: 5px 0;
}

header nav {
  display: none;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,.95);
}
.close {
    display: inline-block;
}
.btn-close {
    display: block;
    position: absolute; top: 10px;
    right: 2.5%;
    width: 24px; height: 24px;
    background: url(../img/soop-icon-close.png) no-repeat center center;
    z-index: 800;
}
.navInner {
  position: absolute; top: 31.514%; left: 0;
    margin-left: 24.375% ;
  width: 51.25%; height: 100%; z-index:1000; 
}
.navInner li a {
    display: block;
    margin-bottom: 20px;
  color: #d1cfcd;
  font-size: 2rem; text-align: center;
}
.navInner li:last-child a {
    margin-bottom: 0;
}
.navInner li a:hover {
    color: #f21e1c;
}

.snsMenu {
  margin-top: 40px;
  text-align: center;
}
.snsMenu a {
  display: inline-block;
    margin-right: 8px;    
  width: 35px; height: 35px; 
  background: url(../img/soop-sns-facebook.png) no-repeat; background-size: contain;
}

.snsMenu a:nth-child(2) {
  background-image: url(../img/soop-sns-insta.png);
}
.snsMenu a:nth-child(3) {
  background-image: url(../img/soop-sns-navertv.png);
}
.snsMenu a:nth-child(4) {
    margin-right: 0;
  background-image: url(../img/soop-sns-blog.png);
}
.snsMenu a:nth-child(1):hover {
    background-image: url(../img/soop-sns-hover-facebook.png);
}
.snsMenu a:nth-child(2):hover {
    background-image: url(../img/soop-sns-hover-insta.png);
}
.snsMenu a:nth-child(3):hover {
    background-image: url(../img/soop-sns-hover-navertv.png);
}
.snsMenu a:nth-child(4):hover {
    background-image: url(../img/soop-sns-hover-blog.png);
}

/* 슬라이드 */
.slideBox {
    position: relative; 
    width: 100%; height: 568px;
    overflow: hidden;
}


.slideBox li {
    position: absolute; top: 0; left: 0; 
    width: 100%; height: 100%;
    display: block;    
    background: url(../img/main-slide1.jpg) no-repeat center;
    background-size: cover;
}
.slideBox li h3 {
  position: absolute; bottom: 160px; left: 5%;
  color: #fff;
  font-size: 3.6rem;
  animation: fadeIn 4s;
  
}
.slideBox li:nth-child(2) h3 {
  left: 39%;
}

.nn {
  display: none;
}
.slideBox li:nth-child(2) {
  background-image: url(../img/main-slide2.jpg);
}
.slideBox li:nth-child(3) {
  background-image: url(../img/main-slide3.jpg);
}
.slideBox li:nth-child(4) {
    background-image: url(../img/main-slide4.jpg);
  }
.slideBox li:nth-child(5) {
    background-image: url(../img/main-slide5.jpg);
  }
.slideBox li:nth-child(6) {
    background-image: url(../img/main-slide6.jpg);
  }
.slideBox li:nth-child(7) {
    background-image: url(../img/main-slide7.jpg);
  }
.slideBox li:nth-child(8) {
    background-image: url(../img/main-slide8.jpg);
  }
.slideBox li:nth-child(9) {
    background-image: url(../img/main-slide9.jpg);
  }
.slideBox li:nth-child(10) {
    background-image: url(../img/main-slide10.jpg);
  }
.dotWrap {
  position: absolute; bottom: 10px;
  width: 100%; text-align: center;
}
.dotWrap .dot span {
  display: inline-block;
  width: 7px; height: 7px;
  background-size: cover;
  text-indent: -9999px;
}

/* 본문사진박스 */
#photo {
    position: relative;
    width: 100%; height: 450px;
}
.khj {
    position: absolute;
    width: 100%; height: 100%;
    background: url(../img/about1.jpg) no-repeat top center;
    background-size: cover;
}
.blackBox {
    position: absolute; bottom: 1.555%; right: 2.343%;
    width: 95.312%; height: 225px;
    background: #000;
}
.textWrap {
    text-align: center;
}
.blackBox h3 {
    display: inline-block;
    margin: 32px 0 29px 0;
    font-style: normal; font-size: 2rem; 
    color: #eaeaea;
}
.blackBox p {
    color: #abaaaa;
    margin: 0 22px;
    font-size: 1.3rem; line-height: 26px;
}

/* vod zone */

#vodzone {
    position: relative;
    width: 100%; height: 462px;
} 
#vodzone h3 {
    padding-top: 31px;
    text-align: center;
    font-size: 2rem; font-style: normal; 
}
.iframe {
    display: none;
}
iframe {
    display: none;
}
.more {
    position: absolute; top: 40px; left: 0;
    width: 100%; height: 350px;
    background: url(../img/img-jym-mb.jpg) no-repeat center;
    background-size: cover; 
}
.more:nth-child(2) {
   background-image: url(../img/img-ky-mb.jpg);
}
.more:nth-child(3) {
   background-image: url(../img/img-shj-mb.jpg);
}
.more a {
    position: absolute; bottom: 21%; right: 3.437%;
    display: block;
    width: 90px; height: 20px;
}
.more a i {
    margin-left: 5px;
    color: #474747; 
    font-size: 2rem; font-style: normal; line-height: 17px;
}
.more a span {
    position: absolute; bottom: 17.5%; right: 12%;
    width: 13px; height: 13px;
    background: url(../img/soop-plus-gray.png) no-repeat center;
    background-size:cover;
}
.more a:hover i {
    color: #f21e1c;
}
.more a:hover span {
    background-image: url(../img/soop-plus-red.png);
}

.btn_slideWrap {
    position: absolute; bottom: 3.679%; left: 38.906%;
    width: 22.187%; height: 2.380%;
}
.btn_slideWrap p {
    color: #d1cfcd;
    font-size: 1.1rem;
    text-align: center;
}
.btn_slideWrap .prev {
    position: absolute; bottom: 3.679%;
    display: block;
    width: 22px; height: 10px;
    background: url(../img/soop-arrowlong-left.png) no-repeat center;
    background-size: contain; 
}
.btn_slideWrap .next {
    position: absolute; bottom: 3.679%; right: 0;
    display: block;
    width: 22px; height: 10px;
    background: url(../img/soop-arrowlong-right.png) no-repeat center;
    background-size: cover; 
}

/* news */

#hotnews {
    position: relative;
    width: 100%; height: 717px;
}
#hotnews > h3 {
    padding: 31px 0 22px 0;
    color: #474747;
    font-size: 2rem; text-align: center;
}
.news-photo {
    width: 100%; height: 300px;
    background: url(../img/img-hotnews.jpg) no-repeat center;
    background-size: cover;
}
.news-text {
    width: 100%; height: 350px;
    border: 8px solid #000;
}
.news-text .title {
    padding: 44px 36px 6.571% 36px;
    color: #000; text-align: center;
    font-size: 1.8rem; line-height: 22px;
}
.news-text .text {
    padding: 0 25px;
    color: #474747; text-align: center;
    font-size: 1.4rem; line-height: 28px;
}
.news-text .text span {
    display: none;
}

/* artists */

.owl-carousel a:nth-child(2), .owl-carousel a:nth-child(3), .owl-carousel a:nth-child(4), .owl-carousel a:nth-child(5) {
    display: none;
}
.actorsWraps .scroll {display: none;}
#actors {
    position: relative;
    width: 100%;
}
#actors h3 {
   padding: 80px 0 30px 0;
    color: #474747;
    font-size: 1.9rem; text-align: center;
}
.owl-carousel > a:nth-child(1) {
    display: block;
    margin: 0 17.968%;
    width: 64.062%; height: 250px;
    background: url(../img/img-actors-njh.jpg) no-repeat top center;
    background-size: cover;
}
.owl-carousel > a .name {
    padding-top: 264px;
    color: #474747; text-align: center;
    font-size: 1.4rem;
}

.btnWrap .before {
    position: absolute; bottom: 47.435%; left: 6.562%;
    display: block;
    width: 30px; height: 16px;
    background: url(../img/soop-arrow-left.png) no-repeat center;
    background-size: cover;
}
.actorsWrap .btnWrap .after {
    position: absolute; bottom: 47.435%; right: 6.562%;
    display: block;
    width: 30px; height: 16px;
    background: url(../img/soop-arrow-right.png) no-repeat center;
    background-size: cover;
}
.scroll-info {
  position: absolute; top: 42%; left: 45%;
    display: inline-block;
    width: 15%; height: 75px;
    background: url(../img/soop-arrowcircle-right.png) no-repeat center;
    background-size: contain; 
    transition:2s all ease; z-index: 20;

  }
  .actorsWrap:hover .scroll-info, .actorsWrap:focus .scroll-info {
    display: none;
  }

/* news/notice/post */

#nnp {
    position: relative;
    width: 100%; height: 425px;
    background: #f4f4f4;
}
.nnpWrap {
    padding: 7.529% 3.125%;
}
.nnpWrap a {
    display: block;
    margin-bottom: 30px;
    width: 93.75%; height: 100px;
    background: url(../img/img-news-mobile.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 10px 10px 30px #000;
}
.nnpWrap a:nth-child(2) {
    background-image: url(../img/img-notice-mobile.jpg);
}
.nnpWrap a:nth-child(3) {
    margin-bottom: 0;
    background-image: url(../img/img-post-mobile.jpg);
}
.nnpWrap a p {
    display: block;
    padding-left: 12px;
    width: 26.562%; height: 19px;
    background: rgba(255,255,255,.25);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.9rem; color: #d1cfcd;
}
.nnpWrap a:nth-child(1) p {
    position: absolute; top: 23.529%;
    margin-left: 3.75%;
} 
.nnpWrap a:nth-child(2) p {
    position: absolute; top: 54.117%;
    margin-left: 3.75%;
} 
.nnpWrap a:nth-child(3) p {
    position: absolute; bottom: 10.588%;
    margin-left: 3.75%;
    color: #474747;
    background: rgba(0,0,0,.25);
} 

.nnpWrap a:nth-child(1):hover p, .nnpWrap a:nth-child(2):hover p, .nnpWrap a:nth-child(3):hover p {
    color: #f21e1c;
}

/* contact/rectice */

#cr {
    position: relative;
    width: 100%; height: 250px;
}
.contact {
    width: 100%; height: 125px;
    background: url(../img/img-contact.jpg) no-repeat center;
    background-size: cover; text-align: center;

}
.crWrap span {
    color: #474747; 
    font-size: 1.9rem; font-family: 'PT Sans', sans-serif; font-style: normal;
    border-bottom: 3px solid #474747;
}
.contact span {
  line-height: 115px;
}
.rectice {
    width: 100%; height: 125px;
    background: url(../img/img-rectice.jpg) no-repeat center;
    background-size: cover; text-align: center;
}
.rectice span {
  line-height: 115px;
}
.contact:hover span {
    color: #f21e1c;
    border-bottom: 3px solid #f21e1c;
}
.rectice:hover span {
    color: #f21e1c;
    border-bottom: 3px solid #f21e1c;
}

/* footer */

footer {
    position: relative;
    width: 100%; height: 280px;
    background: #000;
}
.snsWrap {
   position: absolute; top: 15%;
    width: 100%; height: 25px;
    text-align: center; 
}
.snsWrap a {
  
    display: inline-block;
    width: 25px; height: 25px;
    background: url(../img/soop-sns-facebook.png) no-repeat center;
    background-size: cover;
    text-indent: -9999px;
}
.snsWrap a:nth-child(2) {
    margin: 0 10px;  
    background-image: url(../img/soop-sns-insta.png);
}
.snsWrap a:nth-child(3) {
    margin-right: 10px;
    background-image: url(../img/soop-sns-navertv.png);
}
.snsWrap a:nth-child(4) {
    background-image: url(../img/soop-sns-blog.png);
}
.copyWrap {
    position: absolute; top: 31.428%; left: 7.968%;
    width: 83.437%; height: 139px;
    font-size: 1rem; text-align: center; line-height: 20px;
}
.copyWrap h3 {
    padding-bottom: 20px;
    color: #abaaaa;
    font-size: 1.1rem;
}
.copyWrap p {
    color: #abaaaa;
}
.copyWrap p a {
    color: #abaaaa;
}
.copyWrap i {
    font-style: normal;
}
.copyWrap span:nth-child(2) span {
    display: block;
}
.snsWrap a:nth-child(1):hover {
    background-image: url(../img/soop-sns-hover-facebook.png);
}
.snsWrap a:nth-child(2):hover {
    background-image: url(../img/soop-sns-hover-insta.png);
}
.snsWrap a:nth-child(3):hover {
    background-image: url(../img/soop-sns-hover-navertv.png);
}
.snsWrap a:nth-child(4):hover {
    background-image: url(../img/soop-sns-hover-blog.png);
}

@media screen and (min-width : 400px) {
  
  .slideBox a:nth-child(2) h3 {
  left: 55%;
}

  
}
/* 768px */
@media screen and (min-width : 768px) {
    
  @keyframes slideInDown22 {
  from {
    height: 0;
    
    visibility: visible;
  }

  to {
    height: 311px;
    
  }
}
.slideInDown22 {
  animation-name: slideInDown22;
}
  
  
    /* header */
    
    h1 {
        top: 16px; left: 2.343%;
        width: 150px;
    }
    .navBtn {
      top: 24px; right:2.343%;
      width: 50px; height: 38px;
    }
    .navBtn span {
      height: 6px;
    }
    .navBtn span:nth-child(2) {
      margin: 10px 0;
    }
    .btn-close {
    top: 18px;
    right: 2.343%;
    width: 50px; height: 50px;
    }
    .navInner {
      top: 31.542%;
      margin-left: 28.255% ;
      width: 43.489%;
    }
    .navInner li a {
        margin-bottom: 32px;
        font-size: 5rem;
    }

    .snsMenu {
      margin-top: 80px;
    }
    .snsMenu a {
      margin-right: 2.343%;    
      width: 70px; height: 70px; 
    }

    /* 슬라이드 */

    .slideBox {
     height: 1024px;
    }
    .slideBox li h3 {
      bottom: 300px;
    font-size: 7rem;
    }
  .slideBox li:nth-child(2) h3 {
    left: 40%;
  }

     /* 본문사진박스 */
    #photo {
        width: 100%; height: 741px;
    }
    .khj {
        position: absolute; top: 0; right: 3.515%;
        width: 75%; height: 741px;
    }
    .blackBox {
        bottom: 0; right: 0;
        width: 73.784%; height: 371px;
        z-index: 10;
    }
    .textWrap {
        text-align: center;
    }
    .blackBox h3 {
        margin: 60px 0 8.894% 0;
        font-size: 3rem;
    }
    .blackBox p {
        margin: 0 29px;
        font-size: 1.9rem; line-height: 38px;
    }
    .flower {
        position: absolute; top: 18.893%; left: 3.906%;
        display: block;
        width: 47.916%; height: 453px;
        background: url(../img/about2.jpg) no-repeat center;
        background-size: cover; 
    }
    
    /* vod zone */

    #vodzone {
        height: 572px;
        /*background: #f4f4f4;*/
        overflow: hidden;
    } 
    #vodzone h3 {
        padding-top: 76px;
        font-size: 3rem;
    }
    .more {
        top: 25px;
        width: 82.812%; height: 400px;
    }
    .more:nth-of-type(1) {
        position: absolute; left: 0;
    }
    .more:nth-of-type(2) {
        position: absolute; left: 0;
        display: block; 
        background-image: url(../img/img-ky.jpg);
    }
    .more:nth-of-type(3) {
        position: absolute; left: 0;
        display: block;
        background-image: url(../img/img-shj.jpg);
    }
    .more a {
        bottom: 15%;  right: 1.729%;
        width: 130px; height: 30px;
    }
    .more a i {
        margin-left: 5px;
        color: #474747; 
        font-size: 3rem; line-height:27px;
    }
    .more a span {
        bottom: 4px; right: 8px;
        width: 22px; height: 22px;
    }
    .btn_slideWrap .prev, .btn_slideWrap .next, .btn_slideWrap p {
       display: none;
    }

    /* news */

    #hotnews {
        height: 659px;
    }
    #hotnews h3 {
        padding-top: 73px;
        font-size: 3rem;
    }
    .news-photo {
        position: absolute; bottom: 7.311%; left: 1.302%; 
        width: 48.697%; height: 475px;
    }
    .news-text {
        position: absolute; bottom: 7.311%; right: 1.302%;
        width: 48.697%; height: 475px;
        border: 15px solid #000;
    }
    .news-text .title {
        padding: 55px 41px 6.947% 39px;
        font-size: 1.9rem; line-height: 38px;
    }
    .news-text .text {
        padding: 0 25px;
        font-size: 1.8rem; line-height: 36px;
    }
    .circle {
        position: absolute; bottom: 17px;
        width: 100%; height: 14px; text-align: center;
    }
    .circle span {
        display: inline-block;
        width: 14px; height: 14px;
        background: url(../img/soop-hotnews-slide-gray.png) no-repeat center;
        background-size: cover;
    }
      .circle span:nth-of-type(2) {
            margin: 0 2.083%;
        }
  
    
    /* artists */

    #actors h3 {
       padding: 71px 0 43px 0;
       font-size: 3rem;
    }
    .owl-carousel > a:nth-child(1) {
        position: absolute; left: 4.296%;
        margin: 0;
        width: 26.302%; height: 280px;
    }
    .owl-carousel > a:nth-child(2) {
        position: absolute; left: 36.848%;
        display: block;
        width: 26.302%; height: 280px;
        background: url(../img/img-actors-jdy.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(3) {
        position: absolute; right: 4.296%;
        display: block;
        margin: 0;
        width: 26.302%; height: 280px;
        background: url(../img/img-actors-lch.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a .name {
        padding-top: 302px;
        font-size: 1.7rem;
    }

    .btnWrap .before,  .actorsWrap .btnWrap .after {
        display: none;
    }
    
    .scroll-info {
    position: absolute; top: ; left: 46.770%;
    display: inline-block;
    width: 81px; height: 81px;
    background: url(../img/soop-arrowcircle-right.png) no-repeat center;
    background-size: cover; 
    transition:2s all ease; z-index: 20;

  }
  .actorsWrap:hover .scroll-info, .actorsWrap:focus .scroll-info {
    display: none;
  }

    
    /* news/notice/post */

    #nnp {
        height: 441px;
    }
    .nnpWrap {
        padding: 65px 2.213%;
    }
    .nnpWrap a {
        margin-bottom: 0;
        width: 29.687%; height: 311px;
        background-image: url(../img/img-news.jpg);
        transition: 1s all ease;
    }
    .nnpWrap a:nth-child(2) {
        position: absolute; top: 65px; left: 35.156%;
        background-image: url(../img/img-notice.jpg);
    }
    .nnpWrap a:nth-child(3) {
        position: absolute; top: 65px; right: 2.213%;
        background-image: url(../img/img-post.jpg);
    }
    .nnpWrap a p {
        padding-left: 4px;
        width: 120px; height: 30px;
        font-size: 3rem;
    }
    .nnpWrap a:nth-child(1) p {
        position: absolute; top:309px;
        margin-left: 23px;
    } 
    .nnpWrap a:nth-child(2) p {
        position: absolute; top: 244px;
        margin-left: 23px;
    } 
    .nnpWrap a:nth-child(3) p {
        position: absolute; bottom: 37px;
        margin-left: 23px;
    }     
    .nnpWrap a:nth-child(1):hover p, .nnpWrap a:nth-child(2):hover p, .nnpWrap a:nth-child(3):hover p {
        color: #f21e1c;
    }


    /* contact/rectice */

    #cr {
        height: 380px;
    }
    .contact {
        height: 190px;
    }
    .crWrap span {
        font-size: 3rem; ;
        border-bottom: 4px solid #474747;
    }
    .contact span,.rectice span {
        line-height: 180px;
    }
    .rectice {
        height: 190px;
    }
    .contact:hover span {
        border-bottom: 4px solid #f21e1c;
    }
    .rectice:hover span {
        border-bottom: 4px solid #f21e1c;
    }

    /* footer */

    footer {
        height: 212px;
    }
    .snsWrap {
        left: 70%; top: 20%;
        width: 200px; height: 30px; 
        z-index: 100;
  
    }
    .snsWrap a {
        width: 30px; height: 30px;

    }
    .copyWrap {
        top: 54px; left: 7.421%;
        width: 75.130%; height: 109px;
        font-size: 1.3rem; text-align: left; line-height: 26px;
    }
    .copyWrap h3 {
        padding-bottom: 30px;
        font-size: 1.7rem;
    }
    .copyWrap span:nth-child(2) span {
        display: inline;
    }

    
}

@media screen and (min-width : 840px) {

  .slideBox a:nth-child(2) h3 {
    left: 50%;
  }
  
}

/* 1280 */

@media screen and (min-width : 1280px) {
    
  
  @keyframes slideInDown22 {
  from {
    height: 0;
    
    visibility: visible;
  }

  to {
    height: 517px;
    
  }
}
.slideInDown22 {
  animation-name: slideInDown22;
}
  
  
  
    /* header */
    
    h1 {
        top: 28px; left: 1.562%;
        width: 120px;
    }
    .navBtn {
      top: 42px; right:1.562%;
      width: 44px; height: 28px;
    }
    .navBtn span {
      height: 4px;
    }
    .navBtn span:nth-child(2) {
      margin: 8px 0;
    }
    .btn-close {
    top: 39px;
    right: 1.770%;
    width: 35px; height: 35px;
    }
    .navInner {
      top: 27.618%;
      margin-left: 40% ;
      width: 20%;
    }
    .navInner li a {
        margin-bottom: 42px;
        font-size: 3.4rem;
    }

    .snsMenu {
      margin-top: 77px;
    }
    .snsMenu a {
      margin-right: 3.947%;    
      width: 50px; height: 50px; 
    }
    /* 슬라이드 */

    .slideBox {
       height: 975px;
    }
    .slideBox li h3 {
      left: 20%;
    font-size: 7rem;
    }
  .slideBox li:nth-child(2) h3 {
    left: 60%;
  } 
  .slideBox li:nth-child(3) h3 {
  left: 10%;
  }
  .slideBox li:nth-child(4) h3 {
  left: 12%;
  }

     /* 본문사진박스 */
    #photo {
        width: 100%; height: 1481px;
    }
    .khj {
        position: absolute; top: 0; right: 4.583%;
        width: 1171px; height: 1481px;
    }
    .blackBox {
        bottom: 11.411%; right: 38.75% ;
        width: 637px; height: 547px;
        z-index: 10;
    }
    .textWrap {
        text-align: center;
    }
    .blackBox h3 {
        margin: 113px 0 87px 0;
        font-size: 3rem;
    }
    .blackBox p {
        margin: 0 146px;
        font-size: 1.7rem; line-height: 34px;
    }
    .flower {
        position: absolute; top: 19.986%; left: 18.75%;
        display: block;
        width: 37.187%; height: 780px;
        background: url(../img/about2.jpg) no-repeat center;
        background-size: cover; 
    }
  
    
    /* vod zone */

    #vodzone {
        height:976px;
    } 
    #vodzone h3 {
        padding-top: 176px;
        font-size: 3rem;
    }
    /* #vodzone h3 .em-v {
        border: 5px solid #000;
        border-bottom: 0;
        border-radius: 50%;
        padding: 30px;
    } */
    /* .btm{
        position: absolute;
        width: 13.85%;
        height: 5px;
        background: #000;
    } */
    .moreWrap, .more, .more:nth-of-type(2), .more:nth-of-type(3) {
        display: none;
    }
    .iframe {
        display: block;
    }
    iframe {
        display: block;
        margin-top: 49px; /*18.854%*/
        width: 62.239%; height: 672px;
    }
    .btn_slideWrap {
        position: static; 
        width: 78.541%; height: 76px;
    }
    /*.btn_slideWrap .prev  {
        position: absolute; margin-top:550px;   margin-left: 10%;
        display: block;
        width: 38px; height: 76px;
        position: absolute; top: 0;
       background-image: url(../img/soop-arrow-left.png);
    }
    .btn_slideWrap .next {
        display: block; margin-top:550px; margin-right: 10%;
        width: 38px; height: 76px;
        position: absolute; top: 0;
       background-image: url(../img/soop-arrow-right.png);
    }*/
    .btn_slideWrap p {
       display: none;
    }
    
    /*  news */

    #hotnews {
        height: 860px;
    }
    #hotnews h3 {
        padding-top: 176px;
        font-size: 3rem;
    }
    .news-photo {
        position: absolute; bottom: 3.953%; left: 4.635%; 
        width: 45.416%; height: 552px;
    }
    .news-text {
        position: absolute; bottom: 3.953%; right: 4.583%;
        width: 45.364%; height: 552px;
        border: 15px solid #000;
    }
    .news-text .title {
        padding: 17.674% 0 50px 0;
        font-size: 1.7rem; line-height: 34px;
    }
    .news-text .text {
        padding: 0 14.810%;
        font-size: 1.5rem; line-height: 30px;
    }
    .news-text .text span {
        display: inline;
    }
    .circle {
        position: absolute; bottom: 0;
        width: 100%; height: 13px; text-align: center;
    }
    .circle span {
        display: inline-block;
        width: 13px; height: 13px;
        background: url(../img/soop-hotnews-slide-gray.png) no-repeat center;
        background-size: cover;
    }
      .circle span:nth-of-type(2) {
            margin: 0 0.364%;
    }
 
    
    /* artists */

    

    #actors h3 {
       padding: 142px 0 71px 0;
       font-size: 3rem;
    }
    .owl-carousel > a:nth-child(1) {
        position: absolute; left: 4.635%;
        margin: 0;
        width: 14.114%; height: 375px;
    }
    .owl-carousel > a:nth-child(2) {
        position: absolute; left: 23.802%;
        display: block;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-jdy.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(3) {
        position: absolute; right: 42.916%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-lch.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(4) {
        position: absolute; right: 23.75%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-shj.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(5) {
        position: absolute; right: 4.583%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-khj.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(6) {
        position: absolute; left: 4.635%;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-jym.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(7) {
        position: absolute; left: 23.802%;
        display: block;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-ymk.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(8) {
        position: absolute; right: 42.916%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-ky.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(9) {
        position: absolute; right: 23.75%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-ljj.jpg) no-repeat top center;
        background-size: cover;
    }
    .owl-carousel > a:nth-child(10) {
        position: absolute; right: 4.583%;
        display: block;
        margin: 0;
        width: 14.114%; height: 375px;
        background: url(../img/img-actors-ktk.jpg) no-repeat top center;
        background-size: cover;
    }
    .actorsWrap > a .name {
        padding-top: 412px;
        font-size: 1.7rem;
    }

    .owl-carousel a:nth-child(1) .img, .owl-carousel a:nth-child(2) .img, .owl-carousel a:nth-child(3) .img, .owl-carousel a:nth-child(4) .img, .owl-carousel a:nth-child(5) .img, .owl-carousel a:nth-child(5) .img, .owl-carousel a:nth-child(6) .img, .owl-carousel a:nth-child(7) .img, .owl-carousel a:nth-child(8) .img,.owl-carousel a:nth-child(9) .img, .owl-carousel a:nth-child(10) .img {
        position: absolute; top: 0; left: 0;
        display: inline-block;
        width: 100%; padding: 69.2% 0;
        background: rgba(0,0,0,0);
        transition: .5s ease-out all;
    }
  
    
    .btnWrap .before,  .actorsWrap .btnWrap .after {
        display: none;
    }
    
    .owl-carousel a:nth-child(1):hover .img, .owl-carousel a:nth-child(2):hover .img, .owl-carousel a:nth-child(3):hover .img, .owl-carousel a:nth-child(4):hover .img, .owl-carousel a:nth-child(5):hover .img, .owl-carousel a:nth-child(6):hover .img, .owl-carousel a:nth-child(7):hover .img, .owl-carousel a:nth-child(8):hover .img, .owl-carousel a:nth-child(9):hover .img, .owl-carousel a:nth-child(10):hover .img {
      background: rgba(0,0,0,0.5);
    }
     .owl-carousel a:nth-child(1):hover .plus, .owl-carousel a:nth-child(2):hover .plus, .owl-carousel a:nth-child(3):hover .plus, .owl-carousel a:nth-child(4):hover .plus, .owl-carousel a:nth-child(5):hover .plus, .owl-carousel a:nth-child(6):hover .plus, .owl-carouse a:nth-child(7):hover .plus, .owl-carousel a:nth-child(8):hover .plus, .owl-carousel a:nth-child(9):hover .plus, .owl-carousel a:nth-child(10):hover .plus {
        position: absolute; bottom: 50%; left: 43.911%;
        display: inline-block;
        width: 33px; height: 33px;
        background: url(../img/soop-plus-white.png) no-repeat center;
        background-size: cover; 
        z-index: 10;
       
    }
    .scroll-info {
    position: absolute; top: 50%; left: 46.770%;
    display: inline-block;
    width: 125px; height: 125px;
    background: url(../img/soop-arrowcircle-bottom.png) no-repeat center;
    background-size: cover; 
    transition:2s all ease; z-index: 20;

  }
  .actorsWrap:hover .scroll-info, .actorsWrap:focus .scroll-info {
    display: none;
  }
  
    
    
    /* news/notice/post */

    #nnp {
        height: 910px;
    }
    
    .nnpWrap a {
        
        margin-bottom: 0;
        width: 19.791%; height: 517px;
        background-image: url(../img/img-news.jpg);
        transition: .4s all ease-out;
    }
    .nnpWrap a:nth-child(1) {
        position: absolute; top: 222px; left: 15.416%;
    }
    .nnpWrap a:nth-child(2) {
        position: absolute; top: 222px; left: 40%;
        background-image: url(../img/img-notice.jpg);
    }
    .nnpWrap a:nth-child(3) {
        position: absolute; top: 222px; right: 15.729%;
        background-image: url(../img/img-post.jpg);
    }
    .nnpWrap a p {
        padding-left: 7px;
        width: 170px; height: 33px;
        font-size: 3rem;
    }
    .nnpWrap a:nth-child(1) p, .nnpWrap a:nth-child(2) p, .nnpWrap a:nth-child(3) p {
        position: absolute; top:351px;
        margin-left: 23px;
    } 
    
    .nnpWrap a:nth-child(1):hover p, .nnpWrap a:nth-child(2):hover p, .nnpWrap a:nth-child(3):hover p {
        color: #f21e1c;
    }
    .nnpWrap a:nth-child(1):hover, .nnpWrap a:nth-child(2):hover, .nnpWrap a:nth-child(3):hover {
        transform: scale(1.05); 
    }
    

    /* contact/rectice */

    #cr {
        height: 316px;
    }
    .contact, .rectice {
        width: 50%; height: 316px;
    }
    .rectice {
        position: absolute; top: 0; right: 0;
    }
    .crWrap span {
        font-size: 3rem; ;
        border-bottom: 4px solid #474747;
    }
    .contact span,.rectice span {
        line-height: 300px;
    }
   .contact:hover span {
        border-bottom: 4px solid #f21e1c;
    }
    .rectice:hover span {
        border-bottom: 4px solid #f21e1c;
    }
    /* footer */

    footer {
        height: 311px;
    }
    .snsWrap {
        left: 73.958%; top: 23.151%;
        width: 230px; height: 40px; 
        z-index: 100;
  
    }
    .snsWrap a {
        width: 40px; height: 40px;

    }
    .copyWrap {
        top: 72px; left: 16.562%;
        width: 535px; height: 113px;
        font-size: 1.2rem; text-align: left; line-height: 24px;
    }
    .copyWrap h3 {
        padding-bottom: 41px;
        font-size: 1.5rem;
    }
    .copyWrap span:nth-child(2) span {
        display: inline;
    }
    .copyWrap p span:nth-child(3) {
        display: block;
    }
    small {
        font-size: 1.2rem;
    } 
    
}


.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}
.animated05 {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.animated1 {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated15 {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.animated2 {
  animation-duration: 2s;
  animation-fill-mode: both;
}
.animated3 {
  animation-duration: 3s;
  animation-fill-mode: both;
}



