@charset "utf-8";


i{
  font-style: normal;
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible;
  animation-name: flipInX;
}




/* menu */
.navWrap {
    height: 43px;
    background: rgba(255,255,255,.9);
}
.menu {
    width: 100%; height: 43px;
    background: #fff;
}

/* about us */

#aboutUs {
    width: 100%; height: 200px;
    background: url(../img/sub-aboutus.jpg) no-repeat center;
    background-size: cover;
}

.aboutus h3 {
    font-size: 3rem;
    color: #d1cfcd;
    text-align: center; line-height: 200px;
    
}
.aboutus h3 .m1 {
  animation: flipInX 1s;
}
.aboutus h3 .m2 {
  animation: flipInX 1.7s;
}
.aboutus h3 .m3 {
  animation: flipInX 2.5s;
}
.aboutus h3 .m4 {
  animation: flipInX 3.3s;
}
.aboutus h3 .m5 {
  animation: flipInX 4.1s;
}
.aboutus h3 .m6 {
  animation: flipInX 4.9s;
}
.aboutus h3 .m7 {
  animation: flipInX 5.7s;
}
.aboutus h3 .m8 {
  animation: flipInX 6.5s;
}

/* introduction */

#intro {
    width: 100%; 
}
#intro h3 {
    padding: 41px 0 37px 0;
    font-size: 1.9rem;
    color: #474747;
    text-align: center; 
}
.introWrap {
    text-align: center;
}
.introWrap span {
    display: inline-block;
    width: 151px; height: 56px;
    background: url(../img/soop-logo-header.png) no-repeat center;
    background-size: cover;
    text-align: center;
}
.introWrap p {
    padding: 40px 7.187% 8.486% 7.343%;
    font-size: 1.4rem;
    text-align: left; line-height: 28px;
}

/* company */

#company {
    width: 100%; height: 325px;
    background: url(../img/sub1-img-company.jpg) no-repeat top center;
    background-size: cover;
}
.companyWrap {
    text-align: center; 
}
.companyWrap h3 {
    padding: 63px 0 20px 0;
    font-size: 1.9rem;
    color: #f21e1c;
    line-height: 38px;
    text-align: center; 
}
.companyWrap span {
    display: inline-block;
    width: 150px; height: 3px;
    background: #474747;
}
.companyWrap h4 {
    margin-top: 30px;
    font-size: 1.4rem;
    color: #b5b5b5;
    line-height: 28px;
}

/* history */

#history {
    width: 100%; 
    margin-bottom: 60px;
}
#history h3 {
    padding: 41px 0 40px 0;
    font-size: 1.9rem;
    color: #474747;
    text-align: center;
}
.history-list {
    padding: 0 9.375%;
}
.history-list .year {
    margin: 30px 0 15px 0;
    font-size: 1.5rem;
    color: #000;
}
.history-list:nth-of-type(1) .year {
    margin-top: 0;
}
.history-list p {
    font-size: 1.4rem;
    color: #474747;
    line-height: 20px;
}
.tp {display: none;}


/* contact us */

#contactus {
    width: 100%; 
}
#contactus h3 {
    padding: 41px 0 40px 0;
    font-size: 1.9rem;
    color: #474744;
    text-align: center;
}
.contactWrap {
    text-align: center;
}
.contactWrap .map {
    display: block;
    text-indent: -9999px;
    width: 100%; height: 250px;
    background: url(../img/sub1-contact-maps.jpg) no-repeat center;
    background-size: cover;
}
.contactWrap h4 {
    padding: 55px 11.25% 98px 11.25% ;
    font-size: 1.4rem;
    color: #474747;
    line-height: 28px;
}

/* sub2 */

/*actors*/
#actorss {
    width: 100%; height: 200px;
    background: url(../img/sub2-actors-main-mobile.jpg) no-repeat center;
    background-size: cover;
}

/* profile */

#profile {
    position: relative;
    width: 100%; height: 3600px;
}
.ename {
    font-size: 1.4rem;
    color: #474747;
    transform: rotate(-90deg);
}
.nameLine {
    display: inline-block;
    width: 2px; height: 12px;
    background: #474747;
}
.bg-hover {
    display: none;
}
.kyWrap {
    position: absolute; top: 40px; right: 15.468%;
    width: 68.906%;
}
.kyWrap .ename {
    position: absolute; top: 25px; left: -30px;
}
.kyWrap .nameLine {
    position: absolute; top: 70px; left: 2px;
}
.ky {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-ky-mb.jpg) no-repeat top center; background-size: cover;
}
.khjWrap {
    position: absolute; top: 290px; right: 15.468%;
    width: 68.906%;
}
.khjWrap .ename {
    position: absolute; top: 36px; left: -42px;
}
.khjWrap .nameLine {
    position: absolute; top: 93px; left: 1px;
}
.khjj {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-khj-mb.jpg) no-repeat top center; background-size: cover;
}
.shjWrap {
    position: absolute; top: 540px; right: 15.468%;
    width: 68.906%;
}
.shjWrap .ename {
    position: absolute; top: 37px; left: -42px;
}
.shjWrap .nameLine {
    position: absolute; top: 93px; left:0px;
}
.shj {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-shj-mb.jpg) no-repeat top center; background-size: cover;
}
.kjuWrap {
    position: absolute; top: 790px; right: 15.468%;
    width: 68.906%;
}
.kjuWrap .ename {
    position: absolute; top: 32px; left: -36px;
}
.kjuWrap .nameLine {
    position: absolute; top: 83px; left: 1px;
}
.kju {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-kju-mb.jpg) no-repeat top center; background-size: cover;
}
.lchWrap {
    position: absolute; top: 1040px; right: 15.468%;
    width: 68.906%;
}
.lchWrap .ename {
    position: absolute; top: 37px; left: -42px;
}
.lchWrap .nameLine {
    position: absolute; top: 95px; left: 3px;
}
.lch {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-lch-mb.jpg) no-repeat top center; background-size: cover;
}
.jdyWrap {
    position: absolute; top: 1290px; right: 15.468%;
    width: 68.906%;
}
.jdyWrap .ename {
    position: absolute; top: 37px; left: -44px;
}
.jdyWrap .nameLine {
    position: absolute; top: 95px; left:1px;
}
.jdy {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-jdy-mb.jpg) no-repeat top center; background-size: cover;
}
.jymWrap {
    position: absolute; top: 1540px; right: 15.468%;
    width: 68.906%;
}
.jymWrap .ename {
    position: absolute; top: 28px; left: -34px;
}
.jymWrap .nameLine {
    position: absolute; top: 78px; left: 1px;
}
.jym {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-jym-mb.jpg) no-repeat top center; background-size: cover;
}
.njhWrap {
    position: absolute; top: 1790px; right: 15.468%;
    width: 68.906%;
}
.njhWrap .ename {
    position: absolute; top: 33px; left: -38px;
}
.njhWrap .nameLine {
    position: absolute; top: 87px; left: 3px;
}
.njh {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-njh-mb.jpg) no-repeat top center; background-size: cover;
}
.ymgWrap {
    position: absolute; top: 2040px; right: 15.468%;
    width: 68.906%;
}
.ymgWrap .ename {
    position: absolute; top: 35px; left: -38px;
}
.ymgWrap .nameLine {
    position: absolute; top: 90px; left: 3px;
}
.ymg {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-ymk.jpg) no-repeat top center; background-size: cover;
}
.ljjWrap {
    position: absolute; top: 2290px; right: 15.468%;
    width: 68.906%;
}
.ljjWrap .ename {
    position: absolute; top: 35px; left: -38px;
}
.ljjWrap .nameLine {
    position: absolute; top: 90px; left: 3px;
}
.ljj {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-ljj-mb.jpg) no-repeat top center; background-size: cover;
}
.kjsWrap {
    position: absolute; top: 2540px; right: 15.468%;
    width: 68.906%;
}
.kjsWrap .ename {
    position: absolute; top: 24px; left: -25px;
}
.kjsWrap .nameLine {
    position: absolute; top: 66px; left: 3px;
}
.kjs {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-kjs-mb.jpg) no-repeat top center; background-size: cover;
}
.ktgWrap {
    position: absolute; top: 2790px; right: 15.468%;
    width: 68.906%;
}
.ktgWrap .ename {
    position: absolute; top: 37px; left: -39px;
}
.ktgWrap .nameLine {
    position: absolute; top: 95px; left: 5px;
}
.ktg {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-ktk-mb.jpg) no-repeat top center; background-size: cover;
}
.jgrWrap {
    position: absolute; top: 3040px; right: 15.468%;
    width: 68.906%;
}
.jgrWrap .ename {
    position: absolute; top: 35px; left: -38px;
}
.jgrWrap .nameLine {
    position: absolute; top: 91px; left: 3px;
}
.jgr {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-jgr-mb.jpg) no-repeat top center; background-size: cover;
}
.jsnWrap {
    position: absolute; top: 3290px; right: 15.468%;
    width: 68.906%;
}
.jsnWrap .ename {
    position: absolute; top: 32px; left: -38px;
}
.jsnWrap .nameLine {
    position: absolute; top: 85px; left: 1px;
}
.jsn {
    position: absolute; right: 0;
    display: block;
    width: 90.702%; height: 200px;
    background: url(../img/sub2-actors-jsn-mb.jpg) no-repeat center; background-size: cover;
}


/* sub3 */

#newss {
    width: 100%; height: 200px;
    background: url(../img/sub3-news-main.jpg) no-repeat center;
    background-size: cover;
}
.newslist {
    position: absolute; left: 5%; top: 15px;
  font-size: 1.4rem; font-weight: normal;
  color:#474747;
}
.ymd {
    position: absolute; left: 5%; bottom: 15px;
  font-size: 1.1rem;
  color: #474747;
}
.ninthline, .tenthline {display: none;}

.lineAll {
    position: relative;
  margin: 0 0 25px 3.125%;
  width: 93.75%; height: 65px;
  border: 2px solid #d1cfcd;
  border-left-color: #f21e1c;
}
.firstline {
  margin-top: 41px;
}
.eighthline {
  margin-bottom: 59px;
}
.newslPC {display: none;}
.pagerWrap span {
    display: inline-block;
    margin:0 9px 98px 0; padding-top: 6px; 
    width: 28px; height: 28px;
    border: 2px solid #d1cfcd;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
   font-size: 1.2rem;
    color:#474747;    
}
.pagerWrap span:last-child {
    margin-right: 0;
}
.pagerWrap {
 text-align: center;
}
      .pagerWrap span:nth-child(2) {
        padding-top: 9px;
        border: none;
        background: #f21e1c;
        color: #fff;
      } 

/* sub4 */

#auditionnn {
    width: 100%; height: 200px;
    background: url(../img/sub4-audition-main.jpg) no-repeat center;
    background-size: cover;
}

/* sub_info */

.sub_infoWrap {
    text-align: center;
}
.sub_infoWrap h3 {
    padding: 41px 0 36px 0;
    font-size: 1.8rem;
    color: #474747;
    text-align: center;
}
.sub_infoWrap .content1 {
    padding: 0 3.906% 0 3.906%;
    font-size: 1.4rem; font-weight: normal;
    color: #474747;
    line-height: 28px;
    text-align: center;
}
.sub_infoWrap .download {
    display: inline-block;
    margin-top: 40px; padding-top: 7px;
    width: 175px; height: 31px;
    background: #000;
    font-size: 1.4rem;
    color:#d1cfcd;
}
.info_lline {
    display: inline-block;
    margin: 60px 0 48px 0;
    width: 78.125%; height: 4px;
    background: #d1cfcd;
}

.sub_infoWrap .content2 {
    padding: 0 8.125% 0 7.968%;
    font-size: 1.5rem; font-weight: normal;
    line-height: 40px;
    color: #474747;
}

/* progress */


.prWrap {
    position: relative;
    text-align: center;
}
.prWrap > h4 {
    padding: 144px 0 36px 0;
    font-size: 1.9rem;
    color:#474747;
}
.firstbox, .secondbox, .thirdbox, .fourthbox {
    display: inline-block;
    margin-bottom: 100px;
    width: 60%; height: 175px;
    border: 2px solid #474747;
}
.fourthbox {margin-bottom: 115px;}
.fftext {
    padding: 39px 0 16px 0;
    font-size: 1.5rem;
    color:#474747;
}
.fourthbox .fftext {
    padding-top: 79px;
}
.sstext {
    font-size: 1.4rem; font-weight: normal;
    color:#474747;
    line-height: 28px;
}
.bbll {
    display: inline-block;
    margin-bottom: 22px;
    width: 60px; height: 3px;
    background: #f21e1c;
}
.arrowpp {
    position: absolute; left: 45.312%;
    display: block;
    width: 9.375%; height: 16px;
    background: url(../img/sub4-arrow-bottom.png) no-repeat center; background-size: contain;
}
.prWrap .arrowpp1 {
    position: absolute; top: 420px;
}
.prWrap .arrowpp2 {
    position: absolute; top: 695px;
}
.prWrap .arrowpp3 {
    position: absolute; top: 970px;
}


/* method */

#method {
    background: #eeecea;
}
.methodWrap h4 {
    padding: 41px 0 37px 0;
    font-size: 1.8rem;
    color: #474747;
    text-align: center;
}
.iWrap {
    padding: 0 6.25% 74px 6.25%;
}
.iWrap i {
    font-size: 1.4rem; line-height: 28px;
    color: #474747;
}


/* 440px */
@media screen and (min-width : 440px){
  
  /* sub2 */
  #profile {
    height: 5200px;
  }
  .ky {
     height: 300px;
  }
  .khjWrap {
    top: 400px;
  }
  .khjj {
      height: 300px;
  }
  .shjWrap {
    top: 760px;
  }
  .shj {
      height: 300px;
  }
  .kjuWrap {
    top: 1120px;
  }
  .kju {
      height: 300px;
  }
  .lchWrap {
    top: 1480px;
  }
  .lch {
      height: 300px;
  }
  .jdyWrap {
    top: 1840px;
  }
  .jdy {
      height: 300px;
  }
  .jymWrap {
    top: 2200px;
  }
  .jym {
      height: 300px;
  }
  .njhWrap {
    top: 2560px;
  }
  .njh {
      height: 300px;
  }
  .ymgWrap {
    top: 2920px;
  }
  .ymg {
      height: 300px;
  }
  .ljjWrap {
    top: 3280px;
  }
  .ljj {
      height: 300px;
  }
  .kjsWrap {
    top: 3640px;
  }
  .kjs {
      height: 300px;
  }
  .ktgWrap {
    top: 4000px;
  }
  .ktg {
      height: 300px;
  }
  .jgrWrap {
    top:  4360px;
  }
  .jgr {
      height: 300px;
  }
  .jsnWrap {
    top: 4720px;
  }
  .jsn {
      height: 300px;
  }

  
  
  
}
/* 690px */
@media screen and (min-width : 690px){
  
  /* sub2 */
  #profile {
    height: 5900px;
  }
  .ky {
     height: 350px;
  }
  .khjWrap {
    top: 450px;
  }
  .khjj {
      height: 350px;
  }
  .shjWrap {
    top: 860px;
  }
  .shj {
      height: 350px;
  }
  .kjuWrap {
    top: 1270px;
  }
  .kju {
      height: 350px;
  }
  .lchWrap {
    top: 1680px;
  }
  .lch {
      height: 350px;
  }
  .jdyWrap {
    top: 2090px;
  }
  .jdy {
      height: 350px;
  }
  .jymWrap {
    top: 2500px;
  }
  .jym {
      height: 350px;
  }
  .njhWrap {
    top: 2910px;
  }
  .njh {
      height: 350px;
  }
  .ymgWrap {
    top: 3320px;
  }
  .ymg {
      height: 350px;
  }
  .ljjWrap {
    top: 3730px;
  }
  .ljj {
      height: 350px;
  }
  .kjsWrap {
    top: 4140px;
  }
  .kjs {
      height: 350px;
  }
  .ktgWrap {
    top: 4550px;
  }
  .ktg {
      height: 350px;
  }
  .jgrWrap {
    top:  4960px;
  }
  .jgr {
      height: 350px;
  }
  .jsnWrap {
    top: 5370px;
  }
  .jsn {
      height: 350px;
  }

  
  
  
}



/* 768px */

@media screen and (min-width : 768px) {
    /* menu */
    
    .navWrap, .menu {
        height: 85px;
    }
    
    /* about us */

    #aboutUs {
        height: 400px;
    }
    .aboutus h3 {
        font-size: 6rem;
        line-height: 400px;
    }

    /* introduction */

    #intro h3 {
        padding: 88px 0 82px 0;
        font-size: 3rem;
    }
    .introWrap span {
        width: 300px; height: 112px;
    }
    .introWrap p {
        padding: 62px 6.380% 12.227% 6.380%;
        font-size: 1.9rem;
        line-height: 38px;
    }

    /* company */

    #company {
        width: 100%; height: 500px;
    }
    .companyWrap h3 {
        padding: 113px 0 49px 0;
        font-size: 3rem;
        line-height: 30px;
    }
    .companyWrap span {
        width: 300px; height: 4px;
    }
    .companyWrap h4 {
        margin-top: 58px;
        font-size: 1.9rem;
        line-height: 38px;
    }

    /* history */

    #history {
        margin-bottom: 11px;
    }
    #history h3 {
        padding: 89px 0 88px 0;
        font-size: 3rem;
    }
    .historyWrap {
        position: relative;
    }
    .historyWrap .ll {
        text-align: center;
    }
    .historyWrap .line {
        display: inline-block;
        width: 2px; height: 2199px;
        background: #d1cfcd;
    }
     .history-list {
        padding: 0;
    }
    .history-list:nth-of-type(2) {
        position: absolute; top: 72px; left: 53.255%;
    }
    .history-list:nth-of-type(4) {
        position: absolute; top: 648px; left: 53.255%;
    }
    .history-list:nth-of-type(6) {
        position: absolute; top: 1224px; left: 53.255%;
    }
    .history-list:nth-of-type(8) {
        position: absolute; top: 1800px; left: 53.255%;
    }
    .history-list:nth-of-type(3) {
        position: absolute; top: 360px; right: 53.385%;
        text-align: right;
    }
    .history-list:nth-of-type(5) {
        position: absolute; top: 936px; right: 53.385%;
        text-align: right;
    }
    .history-list:nth-of-type(7) {
        position: absolute; top: 1512px; right: 53.385%;
        text-align: right;
    }

    .ll .cc {
        position: absolute; 
        margin: 0 -15px; 
        display: inline-block;
        width: 28px; height: 28px;
        background: url(../img/sub1-history-gray.png) no-repeat center;
        background-size: cover;
    }
    .ll .cc:nth-of-type(1) {
        top: 100px;
    }
    .ll .cc:nth-of-type(2) {
        top: 387px;
    }
    .ll .cc:nth-of-type(3) {
        top: 675px;
    }
    .ll .cc:nth-of-type(4) {
        top: 964px;
    }
    .ll .cc:nth-of-type(5) {
        top: 1251px;
    }
    .ll .cc:nth-of-type(6) {
        top: 1540px;
    }
    .ll .cc:nth-of-type(7) {
        top: 1828px;
    }
    
    .history-list .year {
        font-size: 2.6rem;
    }

    .history-list p {
        margin-top: 20px;
        font-size: 2.6rem;
        font-size: 1.9rem;
        line-height: 25px;
    }

    .history-list p .t {display: inline;}
    .history-list p .p {
        display: none;
    }
    
    .history-list .tp {display: inline;}
    .m {display: none;}


    /* contact us */

    #contactus h3 {
        padding: 89px 0 82px 0;
        font-size: 3rem;
    }
    .contactWrap {
        text-align: center;
    }
    .contactWrap .map {
        width: 100%; height: 500px;
    }
    .contactWrap h4 {
        padding: 118px 0 153px 0;
        font-size: 1.9rem;
        line-height: 38px;
    }
    
    
    
    /* sub2 */
    
    /*actors*/
    #actorss {
        height: 400px;
        background-image: url(../img/sub2-actors-main.jpg);
    }

    /* profile */

    #profile {
        height: 2730px;
    }
    .ename {
        font-size: 1.9rem;
    }
    .bg-hover {
        display: none;
    }
    .kyWrap {
        top: 88px; right: 52.083%;
        width: 42.317%;
    }
    .kyWrap .ename {
        top: 33px; left: -35px;
    }
    .kyWrap .nameLine {
        top: 95px; left: 8px;
    }
    .ky {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-ky.jpg);
    }
    .khjWrap {
        top: 88px; right: 5.598%;
        width: 42.317%;
    }
    .khjWrap .ename {
        top: 50px; left: -50px;
    }
    .khjWrap .nameLine {
         top: 128px; left: 8px;
    }
    .khjj {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-khj.jpg);
    }
    .shjWrap {
        top: 450px; right: 52.083%;
        width: 42.317%;
    }
    .shjWrap .ename {
        top: 50px; left: -50px;
    }
    .shjWrap .nameLine {
        top: 126px; left: 8px;
    }
    .shj {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-shj.jpg);
    }
    .kjuWrap {
        top: 450px; right: 5.598%;
        width: 42.317%;
    }
    .kjuWrap .ename {
        top: 50px; left: -43px;
    }
    .kjuWrap .nameLine {
        top: 121px; left: 8px;
    }
    .kju {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-kju.jpg);
    }
    .lchWrap {
        top: 812px; right: 52.083%;
        width: 42.317%;
    }
    .lchWrap .ename {
        top: 50px; left: -50px;
    }
    .lchWrap .nameLine {
        top: 128px; left: 9px;
    }
    .lch {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-lch.jpg);
    }
    .jdyWrap {
        top: 812px; right: 5.598%;
        width: 42.317%;
    }
    .jdyWrap .ename {
         top: 51px; left: -52px;
    }
    .jdyWrap .nameLine {
        top: 131px; left: 9px;
    }
    .jdy {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-jdy.jpg);
    }
    .jymWrap {
        top: 1174px; right: 52.083%;
        width: 42.317%;
    }
    .jymWrap .ename {
        top: 39px; left: -38px;
    }
    .jymWrap .nameLine {
        top: 106px; left: 9px;
    }
    .jym {
         right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-jym.jpg);
    }
    .njhWrap {
        top: 1174px; right: 5.598%;
        width: 42.317%;
    }
    .njhWrap .ename {
        top: 45px; left: -45px;
    }
    .njhWrap .nameLine {
        top: 118px; left: 10px;
    }
    .njh {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-njh.jpg);
    }
    .ymgWrap {
        top: 1536px; right: 52.083%;
        width: 42.317%;
    }
    .ymgWrap .ename {
        top: 47px; left: -47px;
    }
    .ymgWrap .nameLine {
        top: 121px; left: 8px;
    }
    .ymg {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-ymk.jpg);
    }
    .ljjWrap {
        top: 1536px; right: 5.598%;
        width: 42.317%;
    }
    .ljjWrap .ename {
        top: 46px; left: -45px;
    }
    .ljjWrap .nameLine {
        top: 122px; left: 10px;
    }
    .ljj {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-ljj.jpg);
    }
    .kjsWrap {
        top: 1898px; right: 52.083%;
        width: 42.317%;
    }
    .kjsWrap .ename {
        top: 30px; left: -28px;
    }
    .kjsWrap .nameLine {
        top: 89px; left: 10px;
    }
    .kjs {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-kjs.jpg);
    }
    .ktgWrap {
        top: 1898px; right: 5.598%;
        width: 42.317%;
    }
    .ktgWrap .ename {
        top: 50px; left: -50px;
    }
    .ktgWrap .nameLine {
        top: 130px; left: 10px;
    }
    .ktg {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-ktk.jpg);
    }
    .jgrWrap {
        top: 2260px; right: 52.083%;
        width: 42.317%;
    }
    .jgrWrap .ename {
        top: 47px; left: -47px;
    }
    .jgrWrap .nameLine {
        top: 123px; left: 8px;
    }
    .jgr {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-jgr.jpg);
    }
    .jsnWrap {
        top: 2260px; right: 5.598%;
        width: 42.317%;
    }
    .jsnWrap .ename {
        top: 45px; left: -42px;
    }
    .jsnWrap .nameLine {
        top: 118px; left: 11px;
    }
    .jsn {
        right: 0;
        width: 92.307%; height: 300px;
        background-image: url(../img/sub2-actors-jsn.jpg);
    }

    
    /* sub3 */

    #newss {
        height: 400px;
    }
    .mline {
        position: absolute; left: 17.838%;
        display: block;
        width: 2px; height: 60px;
        background: #d1cfcd;
    }
    .newslist {
      left: 24%; top: 20px;
      font-size: 1.8rem; font-weight: normal;
    }
    .ymd {
      left: 2.994%; bottom: 18px;
      font-size: 1.8rem;
    }
    .ninthline, .tenthline {display: none;}

    .lineAll {
      margin: 0 0 30px 4.427%;
      width: 91.145%; height: 60px;
    }
    .firstline {
      margin-top: 88px;
    }
    .eighthline {
      margin-bottom: 118px;
    }
    .newslPC {display: inline;}
    .newslM {display: none;}
    .pagerWrap span {
        margin:0 11px 154px 0; padding-top: 7px; 
        width: 34px; height: 34px;
        border: 2px solid #d1cfcd;
       font-size: 1.4rem;   
    }
    .pagerWrap span:last-child {
        margin-right: 0;
    }
    .pagerWrap {
     text-align: center;
    }
    
    
    /* sub4 */

    #auditionnn {
        height: 400px;
    }

    /* sub_info */


    .sub_infoWrap h3 {
        padding: 88px 0 82px 0;
        font-size: 3rem;
    }
    .sub_infoWrap .content1 {
        font-size: 1.9rem;
        line-height: 38px;
    }
    .sub_infoWrap .download {
        margin-top: 62px; padding-top: 21px;
        width: 320px; height: 62px;
        font-size: 1.9rem;
    }
    .info_lline {
        display: inline-block;
        margin: 101px 0 113px 0;
        width: 84.635%; height: 3px;
    }

    .sub_infoWrap .content2 {
        font-size: 1.9rem;
        line-height: 58px;
    }

    /* progress */

/*h1080*/
    .prWrap {
        height: 1082px;
    }
    .prWrap > h4 {
        padding: 200px 0 120px 0;
        font-size: 3rem;
    }
    .firstbox, .secondbox, .thirdbox, .fourthbox {
        position: absolute; 
        margin-bottom: 0;
        width: 39.062%; height: 274px;
        border: 4px solid #474747;
    }
    .firstbox {left: 5.598%;}
    .secondbox {right: 5.598%;}
    .thirdbox {left: 5.598%; bottom: 101px;}
    .fourthbox {right: 5.598%; bottom: 101px;}
    .fftext {
        padding: 63px 0 28px 0;
        font-size: 2.6rem;
    }
    .fourthbox .fftext {
        padding-top: 120px;
    }
    .sstext {
        font-size: 1.9rem;
        line-height: 38px;
    }
    .bbll {
        margin-bottom: 28px;
        width: 100px; height: 3px;
    }
    .arrowpp {
        position: absolute; left: 48.5%;
        display: block;
        width: 3.906%; height: 60px;
        background: url(../img/sub4-arrow-right.png) no-repeat center; background-size: contain;
    }
    .prWrap .arrowpp1 {
        position: absolute; top: 456px;
    }
    .prWrap .arrowpp2 {
        position: absolute; top: 809px;
    }
    .prWrap .arrowpp3 {
        display: none;
    }


    /* method */

    .methodWrap h4 {
        padding: 115px 0 83px 0;
        font-size: 3rem;
    }
    .iWrap {
        padding: 0 6.640% 144px 5.468%;
    }
    .iWrap i {
        font-size: 1.9rem; line-height: 38px;
    }

    
    
    
    
    
    
    
    
    
}


/* 1120px */
@media screen and (min-width : 1120px){
  
  /* sub2 */
  #profile {
    height: 3600px;
  }
  .ky {
     height: 400px;
  }
  .khjWrap {
    top: 88px;
  }
  .khjj {
      height: 400px;
  }
  .shjWrap {
    top: 570px;
  }
  .shj {
      height: 400px;
  }
  .kjuWrap {
    top: 570px;
  }
  .kju {
      height: 400px;
  }
  .lchWrap {
    top: 1052px;
  }
  .lch {
      height: 400px;
  }
  .jdyWrap {
    top: 1052px;
  }
  .jdy {
      height: 400px;
  }
  .jymWrap {
    top: 1534px;
  }
  .jym {
      height: 400px;
  }
  .njhWrap {
    top: 1534px;
  }
  .njh {
      height: 400px;
  }
  .ymgWrap {
    top: 2016px;
  }
  .ymg {
      height: 400px;
  }
  .ljjWrap {
    top: 2016px;
  }
  .ljj {
      height: 400px;
  }
  .kjsWrap {
    top: 2498px;
  }
  .kjs {
      height: 400px;
  }
  .ktgWrap {
    top: 2498px;
  }
  .ktg {
      height: 400px;
  }
  .jgrWrap {
    top:  2980px;
  }
  .jgr {
      height: 400px;
  }
  .jsnWrap {
    top: 2980px;
  }
  .jsn {
      height: 400px;
  }

  
  
  
}


    
    /* 1280 */

    @media screen and (min-width : 1280px) {
        /* menu */
        .navWrap, .menu {
            height: 100px;
        }

        /* about us */

        #aboutUs {
            height: 552px;
            background-image: url(../img/sub-aboutus-pc.jpg);
        }
        .aboutus h3 {
            font-size: 6rem;
            line-height: 552px;
        }

        /* introduction */
        
        #intro {
            position: relative;
            height: 856px;
        }
        #intro h3 {
            padding: 176px 0 112px 0;
            font-size: 3rem;
        }
        .introWrap span {
            position: absolute; top: 395px; left: 16.979%;
            width: 293px; height: 109px;
        }
        .introWrap p {
            position: absolute; top: 310px; left: 37.291%;
            padding-top: 0;
            font-size: 1.9rem;
            line-height: 38px;
        }

        /* company */

        #company {
            width: 100%; height: 626px;
            background-image: url(../img/sub1-img-company-pc.jpg);
        }
        .companyWrap h3 {
            padding: 105px 0 45px 0;
            font-size: 3rem;
            line-height: 30px;
        }
        .companyWrap span {
            width: 325px; height: 3px;
        }
        .companyWrap h4 {
            margin-top: 104px;
            font-size: 1.7rem;
            line-height: 34px;
        }

        /* history */

        #history {
            margin-bottom: 87px;
        }
        #history h3 {
            padding: 161px 0 97px 0;
            font-size: 3rem;
        }
        .historyWrap {
            position: relative;
        }
        .historyWrap .ll {
            text-align: center;
        }
        .historyWrap .line {
            display: inline-block;
            width: 2px; height: 1857px;
            background: #d1cfcd;
        }
         .history-list {
            padding: 0;
        }
        .history-list:nth-of-type(2) {
            position: absolute; top: 49px; left: 51.093%;
        }
        .history-list:nth-of-type(4) {
            position: absolute; top: 571px; left: 51.093%;
        }
        .history-list:nth-of-type(6) {
            position: absolute; top: 1083px; left: 51.093%;
        }
        .history-list:nth-of-type(8) {
            position: absolute; top: 1585px; left: 51.093%;
        }
        .history-list:nth-of-type(3) {
            position: absolute; top: 270px; right: 51.093%;
            text-align: right;
        }
        .history-list:nth-of-type(5) {
            position: absolute; top: 841px; right: 51.093%;
            text-align: right;
        }
        .history-list:nth-of-type(7) {
            position: absolute; top: 1364px; right: 51.093%;
            text-align: right;
        }
       .ll .cc {
            position: absolute; 
            margin: 0 -11px; 
            display: inline-block;
            width: 20px; height: 20px;
            background: url(../img/sub1-history-gray.png) no-repeat center;
            background-size: cover;
        }
        .ll .cc:nth-of-type(1) {
            top: 78px;
        }
        .ll .cc:nth-of-type(2) {
            top: 299px;
        }
        .ll .cc:nth-of-type(3) {
            top: 600px;
        }
        .ll .cc:nth-of-type(4) {
            top: 870px;
        }
        .ll .cc:nth-of-type(5) {
            top: 1111px;
        }
        .ll .cc:nth-of-type(6) {
            top: 1393px;
        }
        .ll .cc:nth-of-type(7) {
            top: 1614px;
        }
        .history-list .year {
            margin-bottom: 17px;
            font-size: 1.7rem;
        }

        .history-list p {
            font-size: 1.5rem;
            line-height: 20px;
        }
        
        .ll .cc:hover {
           background-image: url(../img/sub1-history-red.png);
        }
       
        
        .history-list p .t {display: inline;}
        .history-list p .p {
            display: none;
        }

        .history-list .tp {display: inline;}
        .m {display: none;}


        /* contact us */

        #contactus h3 {
            padding: 161px 0 112px 0;
            font-size: 3rem;
        }
        .contactWrap {
            text-align: center;
        }
        .contactWrap .map {
            display: inline-block;
            width: 62.552%; height: 601px;
            transition: .17s linear all;
        }
        .contactWrap .map:hover {
            background-image: url(../img/sub1-contact-maps-hover.jpg);
        }
        .contactWrap h4 {
            padding: 169px 0 238px 0;
            font-size: 1.7rem;
            line-height: 34px;
        }
        
        
        
        
        
        /* sub2 */
    
    /*actors*/
    #actorss {
        height: 552px;
        background-image: url(../img/sub2-actors-main.jpg);
    }

    /* profile */

    #profile {
        height: 5097px;
    }
    .ename {
        font-size: 1.4rem;
    }
    
    .kyWrap {
        top: 269px; right: 53.75%;
        width: 29.270%;
    }
    .kyWrap .ename {
        top: 25px; left: -27px;
    }
    .kyWrap .nameLine {
        top: 75px; left: 5px;
    }
    .ky {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-ky.jpg);
    }
    .khjWrap {
        top: 269px; right: 18.125%;
        width: 29.270%;
    }
    .khjWrap .ename {
        top: 38px; left: -40px;
    }
    .khjWrap .nameLine {
         top: 98px; left: 4px;
    }
    .khjj {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-khj.jpg);
    }
    .shjWrap {
        top: 931px; right: 53.75%;
        width: 29.270%;
    }
    .shjWrap .ename {
        top: 38px; left: -40px;
    }
    .shjWrap .nameLine {
        top: 100px; left: 3px;
    }
    .shj {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-shj.jpg);
    }
    .kjuWrap {
        top: 931px; right: 18.125%;
        width: 29.270%;
    }
    .kjuWrap .ename {
        top: 33px; left: -33px;
    }
    .kjuWrap .nameLine {
        top: 91px; left: 4px;
    }
    .kju {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-kju.jpg);
    }
    .lchWrap {
        top: 1593px; right: 53.75%;
        width: 29.270%;
    }
    .lchWrap .ename {
        top: 38px; left: -40px;
    }
    .lchWrap .nameLine {
        top: 100px; left: 5px;
    }
    .lch {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-lch.jpg);
    }
    .jdyWrap {
        top: 1593px; right: 18.125%;
        width: 29.270%;
    }
    .jdyWrap .ename {
         top: 39px; left: -42px;
    }
    .jdyWrap .nameLine {
        top: 101px; left:4px;
    }
    .jdy {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-jdy.jpg);
    }
    .jymWrap {
        top: 2255px; right: 53.75%;
        width: 29.270%;
    }
    .jymWrap .ename {
        top: 29px; left: -31px;
    }
    .jymWrap .nameLine {
        top: 83px; left: 4px;
    }
    .jym {
         right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-jym.jpg);
    }
    .njhWrap {
        top: 2255px; right: 18.125%;
        width: 29.270%;
    }
    .njhWrap .ename {
        top: 33px; left: -35px;
    }
    .njhWrap .nameLine {
        top: 94px; left: 6px;
    }
    .njh {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-njh.jpg);
    }
    .ymgWrap {
        top: 2918px; right: 53.75%;
        width: 29.270%;
    }
    .ymgWrap .ename {
        top: 35px; left: -37px;
    }
    .ymgWrap .nameLine {
        top: 93px; left: 5px;
    }
    .ymg {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-ymk.jpg);
    }
    .ljjWrap {
        top: 2918px; right: 18.125%;
        width: 29.270%;
    }
    .ljjWrap .ename {
        top: 34px; left: -35px;
    }
    .ljjWrap .nameLine {
        top: 92px; left: 7px;
    }
    .ljj {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-ljj.jpg);
    }
    .kjsWrap {
        top: 3579px; right: 53.75%;
        width: 29.270%;
    }
    .kjsWrap .ename {
        top: 25px; left: -23px;
    }
    .kjsWrap .nameLine {
        top: 72px; left: 5px;
    }
    .kjs {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-kjs.jpg);
    }
    .ktgWrap {
        top: 3579px; right: 18.125%;
        width: 29.270%;
    }
    .ktgWrap .ename {
        top: 38px; left: -40px;
    }
    .ktgWrap .nameLine {
        top: 100px; left: 4px;
    }
    .ktg {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-ktk.jpg);
    }
    .jgrWrap {
        top: 4241px; right: 53.75%;
        width: 29.270%;
    }
    .jgrWrap .ename {
        top: 35px; left: -37px;
    }
    .jgrWrap .nameLine {
        top: 94px; left: 4px;
    }
    .jgr {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-jgr.jpg);
    }
    .jsnWrap {
        top: 4241px; right: 18.125%;
        width: 29.270%;
    }
    .jsnWrap .ename {
        top: 33px; left: -32px;
    }
    .jsnWrap .nameLine {
        top: 90px; left: 8px;
    }
    .jsn {
        right: 0;
        width: 96.085%; height: 540px;
        background-image: url(../img/sub2-actors-jsn.jpg);
    }
    .bg-hover {
        position: absolute; top: 0; left: 0;
        display: block;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0);
        transition: .5s ease-out all;
    }
    .kyWrap:hover .bg-hover, .khjWrap:hover .bg-hover, .shjWrap:hover .bg-hover, .kjuWrap:hover .bg-hover, .lchWrap:hover .bg-hover, .jdyWrap:hover .bg-hover, .jymWrap:hover .bg-hover, .njhWrap:hover .bg-hover, .ymgWrap:hover .bg-hover, .ljjWrap:hover .bg-hover, .kjsWrap:hover .bg-hover, .ktgWrap:hover .bg-hover, .jgrWrap:hover .bg-hover, .jsnWrap:hover .bg-hover {
        
        background: rgba(0,0,0,.5);
    }
    .kyWrap:hover .kname, .khjWrap:hover .kname, .shjWrap:hover .kname, .kjuWrap:hover .kname, .lchWrap:hover .kname, .jdyWrap:hover .kname, .jymWrap:hover .kname, .njhWrap:hover .kname, .ymgWrap:hover .kname, .ljjWrap:hover .kname, .kjsWrap:hover .kname, .ktgWrap:hover .kname, .jgrWrap:hover .kname, .jsnWrap:hover .kname {
        position: absolute; top: 24px; left: 34px;
         font-size: 3rem;
         color: #e4e3e1;
        opacity: 1;
        }   
    .kname {
        position: absolute; top: 24px; left: 34px;
         font-size: 3rem;
         color: #e4e3e1;
        opacity: 0;
        transition: .5s ease-out all;
    }
    .kyWrap:hover .bt, .khjWrap:hover .bt, .shjWrap:hover .bt, .kjuWrap:hover .bt, .lchWrap:hover .bt, .jdyWrap:hover .bt, .jymWrap:hover .bt, .njhWrap:hover .bt, .ymgWrap:hover .bt, .ljjWrap:hover .bt, .kjsWrap:hover .bt, .ktgWrap:hover .bt, .jgrWrap:hover .bt, .jsnWrap:hover .bt {
         position: absolute; top: 63px; left: 34px;
         font-size: 1.5rem;
         color: #d1cfcd;
         opacity: 1;
    }   
    .bt {
          position: absolute; top: 63px; left: 34px;
          font-size: 1.5rem;
          color: #d1cfcd;
          opacity: 0;
          transition: .5s ease-out all;
    }
    .kyWrap:hover .redmore, .khjWrap:hover .redmore, .shjWrap:hover .redmore, .kjuWrap:hover .redmore, .lchWrap:hover .redmore, .jdyWrap:hover .redmore, .jymWrap:hover .redmore, .njhWrap:hover .redmore, .ymgWrap:hover .redmore, .ljjWrap:hover .redmore, .kjsWrap:hover .redmore, .ktgWrap:hover .redmore, .jgrWrap:hover .redmore, .jsnWrap:hover .redmore {
        position: absolute; bottom: 54px; left: 34px;
        font-size: 1.5rem; font-weight: bold;
        color: #f21e1c;
        border-bottom: 3px solid #f21e1c;
        opacity: 1;
        }   
    .redmore {
        position: absolute; bottom: 54px; left: 34px;
        font-size: 1.5rem; font-weight: bold;
        color: #f21e1c;
        border-bottom: 3px solid #f21e1c; 
        opacity: 0;
        transition: .5s ease-out all;
    }   
        
        
        /* sub3 */

    #newss {
        height: 552px;
    }
    .lineAll .mline {
        position: absolute; left: 16%;
        display: block;
        width: 1px; height: 58px;
        background: #d1cfcd;
    }
    .lineAll .newslist {
        position: static;
        margin: 23px 0 0 15%;
      font-size: 1.4rem; font-weight: normal;
        text-align: center;
    }
    .lineAll .ymd {
      left: 4.583%; bottom: 22px;
      font-size: 1.4rem;
    }
    .newsWrap .ninthline, .newsWrap .tenthline {display: inline-block;}

    .lineAll {
      margin: 0 0 30px 17.708%;
      width: 64.583%; height: 60px;
    }
    .firstline {
      margin-top: 88px;
    }
    .newsWrap .eighthline {
      margin-bottom: 30px;
    }
    .newsWrap .tenthline {
      margin-bottom: 118px;
    }
    .newslPC {display: inline;}
    .newslM {display: none;}
    .pagerWrap span {
        margin:0 11px 154px 0; padding-top: 7px; 
        width: 34px; height: 34px;
        border: 2px solid #d1cfcd;
       font-size: 1.4rem;   
    }
    .pagerWrap span:last-child {
        margin-right: 0;
    }
    .pagerWrap {
     text-align: center;
    } 
      .pagerWrap span:nth-child(2) {
        padding-top: 9px;
        border: none;
        background: #f21e1c;
        color: #fff;
      }  
        .lineAll:hover {
            background: rgba(0,0,0,.1);
        }
        .lineAll:hover .newslist {
            color:#f21e1c;
        }
        .leftPage:hover, .rightPage:hover, .pagerWrap span:nth-child(2):hover, .pagerWrap span:nth-child(3):hover, .pagerWrap span:nth-child(4):hover, .pagerWrap span:nth-child(5):hover, .pagerWrap span:nth-child(6):hover  {
            height: 32px;
            background: #f21e1c;
            border: none;
            color: #fff;
        }
        
        
        
        /* sub4 */

        #auditionnn {
            height: 552px;
        }

        /* sub_info */


        .sub_infoWrap h3 {
            padding: 176px 0 110px 0;
            font-size: 3rem;
        }
        .sub_infoWrap .content1 {
            font-size: 1.7rem;
            line-height: 34px;
        }
        .sub_infoWrap .download {
            margin-top: 90px; padding-top: 16px;
            width: 310px; height: 52px;
            font-size: 1.7rem;
        }
        .info_lline {
            display: block;
            margin: 101px 0 113px 8.333%;
            width: 83.333%; height: 5px;
        }
        .sub_infoWrap .content2 {
            font-size: 1.7rem;
            line-height: 60px;
        }
      
      .sub_infoWrap .download:hover {
        color:#f21e1c;  
      }
      
      

        /* progress */

    /*h1080*/
        .prWrap {
            height: 1082px;
        }
        .prWrap > h4 {
            padding: 233px 0 137px 0;
            font-size: 3rem;
        }
        .firstbox, .secondbox, .thirdbox, .fourthbox {
            position: absolute; top: 398px;
            margin-bottom: 0;
            width: 19.947%; height: 350px;
            border: 4px solid #474747;
        }
        .firstbox {left: 4.218%;}
        .secondbox {right: 51.927%;}
        .thirdbox {left: 51.927%; bottom: 0;}
        .fourthbox {right: 4.218%; bottom: 0;}
        .fftext {
            padding: 87px 0 31px 0;
            font-size: 2.5rem;
        }
        .fourthbox .fftext {
            padding-top: 159px;
        }
        .sstext {
            font-size: 2rem;
            line-height: 40px;
        }
        .bbll {
            margin-bottom: 51px;
            width: 90px; height: 3px;
        }
        .arrowpp {
            position: absolute; left: 0;
            display: block;
            width: 1.093%; height: 33px;
            background: url(../img/sub4-arrow-right.png) no-repeat center; background-size: contain;
        }
        .prWrap .arrowpp1 {
            position: absolute; top: 558px; left: 25.625%;
        }
        .prWrap .arrowpp2 {
            position: absolute; top: 558px; left: 49.479%;
        }
        .prWrap .arrowpp3 {
          position: absolute; top: 558px; left: 73.437%;
            display: inline-block;
            position: absolute;
        }


        /* method */

        .methodWrap h4 {
            padding: 116px 0 92px 0;
            font-size: 3rem;
        }
        .iWrap {
            padding: 0 28.854% 170px 28.854%;
        }
        .iWrap i {
            font-size: 1.7rem; line-height: 34px;
        }

        
        
        
        
        
        
        
}
