@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@keyframes fadeInUp {
	0% {opacity: 0; transform: translateY(200px);}
	100% {opacity: 1;transform: translateY(0);}
}
@keyframes fadeInUp2 {
	0% {opacity: 0; transform: translateY(100px);}
	100% {opacity: 1;transform: translateY(0);}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	60% {opacity: 0;}
	20% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeInDown {
	0% {opacity: 0; transform: translateY(-50px);}
	100% {opacity: 1; transform: translateY(0);}
}
@keyframes bounceInLeft {
	0% {opacity: 0;transform: translateX(-2000px);}
    60% {transform: translateX(15px);}
	80% {transform: translateX(-5px);}
	100% {opacity: 1; transform: translateX(0);}
}
@keyframes bounceInRight {
	0% {opacity: 0;transform: translateX(2000px);}
    60% {transform: translateX(-15px);}
	80% {transform: translateX(5px);}
	100% {opacity: 1; transform: translateX(0);}
}
@keyframes cross-left {
    0% {left: -20px;}
    50% {left: 50%; width:20px; height: 20px;}
    100% {left: 50%; width: 300px; height: 300px;}
}
@keyframes cross-right {
    0% {right: -20px;}
    50% {right: 50%; width:20px; height: 20px;}
    100% {right: 50%; width: 300px; height: 300px;}
}

.fadeIn {animation-name: fadeIn;}
.fadeInUp {animation-name: fadeInUp;}
.fadeInUp2 {animation-name: fadeInUp2;}
.bounceInDown {animation-name: fadeInDown;}
.bounceInLeft {animation-name: bounceInLeft;}
.bounceInRight {animation-name: bounceInRight;}


/* reset */

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style-type: none;}
hr {display: none;}
h1 {margin: 0;}
a {text-decoration: none;}
img {border: none;}
html {font-size: 0.625em;}
body {font-family: 'Noto Sans KR', sans-serif; line-height: 1; color: #303030; overflow-x: hidden;}
button {border: none; background: none; text-indent:-9999px;}
.blind {position: absolute; top:-9999px; left: -9999px;}
.clear {clear: both;}
.clear:after {content: ""; display: block; clear: both;}
.pc {display: none;}


/* header */

.main-wrap {
    margin: 0 180px;
}

header {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 75px;
    background: #000;
    z-index: 999;
}

header h1 {
    text-align: center;
}

header h1 a {
    display: inline-block; width: 175px;
    margin-top: 28px;
    background: url('../img/logo_white.png') no-repeat center;
    background-size: contain;
    text-indent: -9999px;
}

header > button {
    position: absolute;
    top: 30px; right: 4.687%;
    width: 30px; height: 20px;
    cursor: pointer;
}

header > button span {
    display: block; height: 2px;
    background: #fff; text-indent: -9999px;
    transition: .4s;
}

header > button span:nth-child(2) {
    margin: 6px 0;
}

header > button.on span {
    position: absolute;
    width: 100%;
}

header > button.on span:nth-child(1) {
    transform: rotate(45deg);
}

header > button.on span:nth-child(2) {
    display: none;
}

header > button.on span:nth-child(3) {
    transform: rotate(-45deg);
}

/* depth1 */

nav {
    display: none; margin-top: 27px;
    position: fixed;
    width: 100%; height: 100%;
    background: #000;
}

nav a {
    display: block;
    position: relative; 
    width: 100%; height: 60px;
    text-align: center;
    font-size: 1.7rem; color: #fff;
    border-bottom: 1px solid #4a4a4a;
    line-height: 60px;
}

nav a > span {
    position: absolute;
    top: 27px; right: 4.687%;
    width: 15px; height: 8px;
    background: url('../img/arrow_bottom.png') no-repeat;
    background-size: contain;
}

nav > ul > li:hover > a {
    color: #8a8a8a;
}

/* depth2 */

nav > ul ul {
    display: none;
}

nav > ul ul a {
    color: #000; font-size: 1.9rem;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
}

/* slide */

.visual .pc {
    display: none;
}

.visual {
    margin-top: 75px;
}

.bxslider > li > a {
    display: block;
    height: 500px;
}

.bxslider_01 {
    background: url('../img/m_visual_01.jpg') no-repeat center;
    background-size: cover;
}

.bxslider_02 {
    background: url('../img/m_visual_02.jpg') no-repeat center;
    background-size: cover;
}

.bxslider_inner {
    position: relative; top: 340px;
    padding-top: 35px;
    height: 160px;
    background: rgba(0, 0, 0, .7);
    text-align: center;
}

.bxslider_inner p {
    color: #fff;
}

.bxslider_inner > p:nth-child(2) {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    animation: bounceInLeft 2.3s;
}

.bxslider_inner p:nth-child(3) {
    padding-top: 10px;
    font-size: 1.7rem;
    animation: fadeIn 2.7s;
}

/* main */

.main {
    color: #303030;
}
.pp{
    color: #fff;
}
section h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif; font-size: 2.2rem;
}

    
    /* new item */

    .new {
        width: 90.625%;
        margin: 0 auto 61px;
    }

    .new h3 {
        text-align: center;
        margin: 70px 0 50px 0;
    }

    .new h4 {
        margin-top: 10px;
        font-weight: 500; font-size: 2.1rem;
    }

    .new > div {
        height: 416px;
        text-align: center;
    }

    .new > div p {
        font-size: 1.5rem;
    }

    .new > div .moreBtn {
        display: block; position: relative;
        margin: 32px auto; border: 2px solid #303030;
        width: 150px; height: 40px;
        color: #303030;
        font-size: 1.4rem; text-align: center; line-height: 35px;
        overflow: hidden; z-index: 1;
    }

    .new > div .moreBtn:hover {
        color: #fff; transition: 0.5s;
    }

    .new > div .moreBtn:before,
    .new > div .moreBtn:after {
        position: absolute; top: 50%;
        content: ''; width: 30px; height: 30px;
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        z-index: -1;
    }

    .new .new_item1 .moreBtn:before,
    .new .new_item1 .moreBtn:after {
        background: #ff21da;
    }

    .new .new_item2 .moreBtn:before,
    .new .new_item2 .moreBtn:after {
        background: #d460bb;
    }

    .new .new_item3 .moreBtn:before,
    .new .new_item3 .moreBtn:after {
        background: #f46d4b;
    }

    .new > div .moreBtn:before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    
    .new > div .moreBtn:after {
        right: -20px;
        transform: translate(50%, -50%);
    }

    .new > div .moreBtn:hover:before {
        animation: cross-left 0.8s both;
        animation-direction: alternate;
    }

    .new > div .moreBtn:hover:after {
        animation: cross-right 0.8s both;
        animation-direction: alternate;
    }
    
    .new_item1 {
        background: #fff6ed;
    }

    .new_item2 {
        margin: 70px 0;
        background: #fff1f0;
    }

    .new_item3 {
        background: #fff1ec;
    }

    .new > div > div {
        height: 208px;
    }

    .new_item1 > div:first-child {
        background: url('../img/new_product1.jpg') no-repeat center;
        background-size: cover;
    }

    .new_item2 > div:first-child {
        background: url('../img/new_product2.jpg') no-repeat center;
        background-size: cover;
    }

    .new_item3 > div:first-child {
        background: url('../img/new_product3.jpg') no-repeat center;
        background-size: cover;
    }

    .new > div > div:nth-child(3) {
        padding: 46px 0;
    }


    /* video */

    #video {
        text-align: center;
        background: #f1f1f1;
    }

    #video h3 {
        padding: 45px 0;
    }

    .video_wrap {
        width: 90.625%;
        margin: 0 auto;
    }
    
    .video_wrap > div > div {
        padding: 49px 0;
        background: #fff;
    }

    iframe {
        width: 100%; border: none;
    }

    .video_left {
        animation-duration: 3s;
    }

    .video_right {
        padding: 60px 0;
        animation-duration: 3s;
    }

    .video_wrap h4 {
        margin-bottom: 25px;
        font-size: 1.6rem;
    }

    .video_wrap p {
        font-size: 1.2rem; line-height: 1.292;
    }

    /* instagram */

    .insta_wrap {
        width: 91.533%;
        margin: 0 auto 70px;
    }

    #insta p {
        margin-bottom: 40px;
        font-size: 1.3rem; text-align: center;
    }

    #insta > span {
        display: block; margin: 50px auto 15px;
        width: 133px; height: 33px;
        background: url('../img/insta_logo.png') no-repeat center ;
        background-size: cover;
    }

    .insta_wrap > li > a {
        display: block;
        height: 90px; margin: 5px;
    }

    .insta_wrap > li:first-child a {
        background: url('../img/insta_product1.jpg') no-repeat center;
        background-size: cover;
        animation-duration: .5s;
    }

    .insta_wrap > li:nth-child(2) a {
        background: url('../img/insta_product2.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 1s;
    }

    .insta_wrap > li:nth-child(3) a {
        background: url('../img/insta_product3.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 1.3s;
    }

    .insta_wrap > li:nth-child(4) a {
        background: url('../img/insta_product4.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 1.6s;
    }

    .insta_wrap > li:nth-child(5) a {
        background: url('../img/insta_product5.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 1.9s;
    }

    .insta_wrap > li:nth-child(6) a {
        background: url('../img/insta_product6.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 2.2s;
    }

    .insta_wrap > li:nth-child(7) a {
        background: url('../img/insta_product7.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 2.5s;
    }

    .insta_wrap > li:nth-child(8) a {
        background: url('../img/insta_product8.jpg') no-repeat center;
        background-size: cover;
        animation-duration: 2.8s;
    }

    .insta_wrap > li:first-child,
    .insta_wrap > li:last-child {
        width: 100%;
    }

    .insta_wrap > li {
        float: left;
        width: 33.333%;
    }

    .insta_wrap .caption {
        opacity: 0;
        height: 100%;
        background: rgba(0,0,0,.7);
        transition: .5s;
    }

    .insta_wrap .caption > span {
        display: block; width: 40px; height: 40px;
        margin: 0 auto; padding-top: 95px;
        background: url('../img/icon_plus.png') no-repeat center;
        background-size: contain;
    }

    .insta_wrap .caption:hover {
        opacity: 1;
    }


/* footer */

footer .pc {
    display: none;
}

footer {
    background: #f1f1f1;
}

.footer_wrap {
    width: 90.625%;
    margin: 0 auto; padding: 35px 0;
}

.footer_wrap a {
    color: #303030;
}

.footer_top > span img {
    width: 139px;
    display: block; margin: 0 auto;
    padding-bottom: 24px;
}

.footer_utill {
    text-align: center;
}

.footer_utill li {
    display: inline-block;
    font-weight: 500;
    font-size: 1.1rem; color: #303030;
}

.footer_utill > li:first-child a {
    color: #c10003;
}

.footer_utill li:before {
    content: "|"; margin: 0 9px;
    color: #303030
}

.footer_utill li:first-child:before {
    content: none;
}

.footer_bottom {
    margin-top: 24px;
    text-align: center;
    line-height: 1.3;
}

.footer_bottom span:nth-child(odd):after {
    content: "|"; margin: 0 6px;
    color: #303030
}

.footer_bottom span:nth-child(5):after {
    content: none;
}

.footer_bottom small {
    display: block;
    padding-top: 24px;
    font-size: 1rem; color: #5f5f5f;
}


/* gte 768 */

@media screen and (min-width:768px) {

    .pc {
        display: block;
    }

    /* header */

    header {
        height: 85px;
    }

    header h1 a {
        width: 220px; height: 26px;
    }

    header > button {
        top: 29px; right: 4.557%;
        width: 40px; height: 27px;
    }

    header > button span {
        height: 3px; border-radius: 6px;
        background: #fff; text-indent: -9999px;
    }

    header > button span:nth-child(2) {
        margin: 8px 0;
    }

    nav {
        margin-top: 31px;
    }

    nav a {
        font-size: 2rem;
        height: 65px; line-height: 65px;
        padding-left: 4.557%;
    }

    nav a > span {
        right: 4.557%;
        width: 27px; height: 15px;
    }

    /* visual */

    .visual {
        margin-top: 85px;
    }
    
    .bxslider > li > a {
        height: 780px;
    }

    .bxslider_inner {
        top: 520px;
        height: 260px;
        padding-top: 65px;
    }

    .bxslider_inner > p:nth-child(2) {
        font-size: 3.5rem;
    }

    .bxslider_inner p:nth-child(3) {
        padding-top: 20px;
        font-size: 2.6rem;
    }

    /* main */

    section h3 {
        font-size: 3.2rem;
    }

        /* best item */

        #best {
            width: 90.755%;
        }

        #best > h3 {
            padding: 100px 0 70px 0;
        }

        .best_item {
            display: inline-block;
            width: 47.639%;
            margin: 0 30px 32px 0;
        }

        .best_item2, .best_item4 {
            margin-right: 0;
        }

        .best_item1 {animation-duration: .8s;}
        .best_item2 {animation-duration: 1.3s;}
        .best_item3 {animation-duration: 2s;}
        .best_item4 {animation-duration: 2.5s;}

        /* parallax */

        .parallax {
            margin-top: 100px;
            padding: 100px 4.557% 0 0;
            width: 100%; height: 500px;
            background: url('../img/parallax.jpg') no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            text-align: right;
        }

        .parallax p:first-child {
            font-size: 1.6rem;
            animation-duration: 1.6s;
        }

        .parallax p:nth-child(2) {
            margin-top: 20px;
            color: #ff5013;
            font-size: 5.5rem;
            font-family: 'Montserrat', sans-serif;
            animation-duration: 2.1s;
        }

        .parallax p:nth-child(3) {
            margin-top: 30px;
            font-size: 1.6rem; line-height: 1.403;
            animation-duration: 2.6s;
        }
        
        .parallax > div {
            position: absolute; right: 4.557%;
            margin-top: 40px;
            width: 150px; height: 45px;
            color: #fff; background: #ff5013;
            font-size: 1.6rem; line-height: 45px;
            text-align: center;
            animation-duration: 3.1s;
        }

        .parallax > div > a {
            color: #fff;
        }

        /* new item */

        .new {
            width: 90.755%;
            margin: 0 auto 120px;
        }

        .new h3 {
            margin: 120px 0 70px 0;
        }

        .new h4 {
            font-size: 2.4rem;
            margin-top: 20px;
        }

        .new > div {
            height: 500px;
        }

        .new > div p {
            font-size: 2rem;
        }

        .new > div .moreBtn {
            margin: 40px auto 53px;
            width: 170px; height: 45px;
            font-size: 1.7rem; line-height: 40px;
        }

        .new > div > div {
            float: left;
            width: 50%; height: 250px;
        }

        .new .new_item2 > div {
            float: right;
        }

        .new_item1 > div:nth-child(4) {
            background: url('../img/new_product1_2.jpg') no-repeat center;
            background-size: cover;
        }
    
        .new_item2 > div:nth-child(4) {
            background: url('../img/new_product2_2.jpg') no-repeat center;
            background-size: cover;
        }        
    
        .new_item3 > div:nth-child(4) {
            background: url('../img/new_product3_2.jpg') no-repeat center;
            background-size: cover;
        }

        .new_item2 {
            margin: 100px 0;
        }        

        .new > div > div:nth-child(2),
        .new > div > div:nth-child(3) {
            padding: 45px 0 0 0;
        }

        .new > div > div:nth-child(2) {
            color: #fff;
        }

        .new_item1 > div:nth-child(2) {
            background: #fa64f2;
        }

        .new_item2 > div:nth-child(2) {
            background: #d460a7;
        }

        .new_item3 > div:nth-child(2) {
            background: #f46d4b;
        }

        .new > div > div:nth-child(2) > p {
            line-height: 1.25;
        }

        .new > div > div > span {
            display: block;
            margin: 40px auto;
            width: 60px; height: 2px;
            background: #fff;
        }


        /* video */

        #video h3 {
            padding: 80px 0;
        }

        .video_wrap {
            width: 90.755%;
        }

        .video_wrap > div > div {
            padding: 95px 0;
        }

        .video_right {
            padding: 100px 0;
        }

        .video_wrap h4 {
            margin-bottom: 46px;
            font-size: 2.2rem;
        }

        .video_wrap p {
            font-size: 2rem; line-height: 1.3;
        }

        /* instagram */  

        .insta_wrap {
            width: 92.724%;
            margin: 0 auto 100px;
        }

        #insta p {
            margin-bottom: 70px; font-size: 2rem;
        }

        #insta > span {
            margin: 100px auto 20px;
            width: 230px; height: 56px;
        }

        .insta_wrap > li > a {
            height: 220px;
            margin: 8px;
        }

        .insta_wrap > li {
            width: 16.666%;
        }

        .insta_wrap > li:first-child,
        .insta_wrap > li:last-child {
            width: 50%;
        }
    
        .insta_wrap .caption > span {
            width: 50px; height: 50px;
            padding-top: 230px;
        }

    /* footer */

    .footer_wrap {
        width: 90.755%;
        padding: 50px 0;
    }

    .footer_top > span img {
        width: 185px;
        padding-bottom: 40px;
    }

    .footer_utill li {
        font-size: 1.5rem;
    }

    .footer_utill li:before {
        margin: 0 12px;
    }

    .footer_bottom {
        font-size: 1.3rem;
        margin-top: 40px;
        line-height: 1.462;
    }

    .footer_bottom small {
        padding-top: 40px;
        font-size: 1.3rem;
    }
}


/* gte 1280 */

@media screen and (min-width:1280px) {
    
    /* header */

    header h1 {
        position: absolute;
        left: 13.541%; z-index: 999;
    }

    header h1 a {
        width: 260px; height: 31px;
        margin-top: 28px;
    }

    /* nav on */

    header > button,
    nav ul > li > a > span {
        display: none;
    }

    nav {
        display: block !important;
        margin-top: 0; height: 85px;
    }   

    nav > ul {
        float: right;
        position: relative; right: 11.411%;
    }

    nav > ul > li {
        float: left;
        width: 130px; text-align: center;
    }

    nav > ul > li:last-child {
        padding-right: 0;
    }

    nav > ul > li > a {
        font-size: 1.7rem; height: 85px;
        line-height: 85px; padding: 0;
        border-bottom: none;
    }

    /* 2차 메뉴 */

    nav li:hover > a,
    nav li:focus > a {
        color: #8a8a8a; font-weight: 500;
    }

    nav li:hover > ul {
        display: block;
    }

    nav > ul ul a {
        padding-left: 0;
        text-align: center; 
        font-size: 1.7rem; color: #fff; 
        line-height: 50px;
        background: #000; border-bottom: none;
    }

    /* slide */

    .bxslider .pc {
        display: block;
    }
    
    .bxslider > li > a {
        height: 800px;
    }

    .bxslider_01 {
        background: url('../img/pc_visual_01.jpg') no-repeat center;
        background-size: cover;
    }

    .bxslider_02 {
        background: url('../img/pc_visual_02.jpg') no-repeat center;
        background-size: cover;
    }

    .bxslider_inner {
        padding: 0;
        left: 13.541%; top: 190px;
        width: 86.458%; height: 50%;
        background: none;
        text-align: left;
    }

    .bxslider_inner p:first-child,
    .bxslider_inner p:nth-child(2) {
        font-family: 'Montserrat', sans-serif;
        font-size: 6.5rem; line-height: 1.214;
    }

    .bxslider_inner p:first-child {
        animation: bounceInRight 2.3s;
    }    

    .bxslider_inner p:nth-child(3) {
        padding-top: 125px;
        font-size: 3rem; letter-spacing: 1px;
    }

    .bxslider_inner p:nth-child(4) {
        font-size: 2.5rem;
        margin-top: 18px; letter-spacing: 1px;
        animation: fadeIn 3.2s;
    }

    .bxslider_inner > span:nth-child(5),
    .bxslider_inner > span:nth-child(6) {
        display: inline-block;
        position: relative;
    }

    .bxslider_01 .bxslider_inner > span:nth-child(5),
    .bxslider_01 .bxslider_inner > span:nth-child(6) {
        background: url('../img/yazbukey1.png') no-repeat center;
        background-size: contain;
    }

    .bxslider_01 .bxslider_inner > span:nth-child(5) {
        width: 120px; height: 99px;
        top: -450px; left: 530px;
        animation: fadeIn 3.8s;
    }

    .bxslider_01 .bxslider_inner > span:nth-child(6) {
        width: 67px; height: 56px;
        top: -430px; left: 550px;
        animation: fadeIn 4.3s;
    }

    .bxslider p {
        color: #fff;
    }

    .bxslider_01 > div > p:first-child > span {
        color: #fff72a; 
    }
    
    .bxslider_01 > div > p:nth-child(2) > span {
        color: #78faff;
    }

    .bxslider_02 .bxslider_inner {
        top: 200px;
        left: 0; text-align: right;
    }

    .bxslider_02 .bxslider_inner > span:nth-child(5) {
        width: 135px; height: 158px;
        bottom: 460px; right: 440px;
        background: url('../img/yazbukey2.png') no-repeat center;
        background-size: contain;
        animation: fadeIn 3.8s;
    }

    .bxslider_02 .bxslider_inner > span:nth-child(6) {
        width: 99px; height: 99px;
        bottom: 530px; right: 440px;
        background: url('../img/yazbukey4.png') no-repeat center;
        background-size: contain;
        animation: fadeIn 4.3s;
    }

    .bxslider_02 > div > p:first-child > span {
        color: #ffc2f7; 
    }
    
    .bxslider_02 > div > p:nth-child(2) > span {
        color: #ffeeba;
    }

    /* main */

        section h3 {
            font-size: 4.6rem;
        }

        /* best item */

        #best {
            width: 100%;
        }
        
        #best > h3 {
            margin: 0;
            padding: 180px 0 100px 0;
        }

        .best_item {
            width: 16.785%;
            margin: 0 28px 0 0;
            height: 480px;
        }

        .best_item4 {
            margin-right: 0;
        }
        
        .best_item > div:nth-child(2) > a {
            height: 260px;
        }

        .best_item > div:nth-child(2) {
            bottom: 0;
        }

        .best_item > div:first-child > span:first-child {
            margin-top: 35px;
        }

        .best_item3 {animation-duration: 1.8s;}
        .best_item4 {animation-duration: 2.3s;}

        /* parallax */

        .parallax {
            margin-top: 180px;
            padding: 130px 13.541% 0 0;
            height: 650px;
        }

        .parallax p:first-child {
            font-size: 1.8rem;
        }

        .parallax p:nth-child(2) {
            font-size: 6.5rem;
        }

        .parallax p:nth-child(3) {
            margin-top: 50px;
            font-size: 1.8rem;
        }

        .parallax > div {
            right: 13.541%;
            margin-top: 60px;
            width: 180px; height: 50px;
            font-size: 1.7rem; line-height: 50px;
        }

        /* new item */

        .new {
            width: 100%;
            margin: 0 auto 307px;
        }

        .new h3 {      
            margin: 160px 0 180px 0;
        }

        .new h4 {
            font-size: 3.6rem;
            margin-top: 18px;
        }
        
        .new > div p {
            font-size: 2.2rem;
        }

        .new_item1,
        .new_item2,
        .new_item3 {
            position: relative;
            background: none;
        }

        .new > div > div:nth-child(1),
        .new > div > div:nth-child(2),
        .new > div > div:nth-child(3) {
            padding-top: 70px;
        }

        .new_item2 {
            margin: 388px 0;
        }

        .new_item1 > div:first-child,
        .new_item3 > div:first-child {
            width: 39.583%; height: 480px;
            position: relative;
            left: 13.541%; z-index: 1;
            animation-duration: 3s;
        }

        .new_item2 > div:first-child {
            width: 39.583%; height: 480px;
            position: relative;
            left: -13.541%; z-index: 1;
            animation-duration: 3s;
        }

        .new_item1 > div:nth-child(2),
        .new_item3 > div:nth-child(2) {
            width: 19.270%; height: 370px;
            position: absolute; left: 47.916%; top: -81px;
            z-index: 2;
            animation-duration: 2.2s;
        }

        .new_item2 > div:nth-child(2) {
            width: 19.270%; height: 370px;
            position: absolute; left: 13.541%; top: -81px;
            z-index: 2;
            animation-duration: 2.2s;
        }

        .new > .new_item1 > div:nth-child(3),
        .new > .new_item3 > div:nth-child(3) {
            width: 61.718%; height: 534px;
            position: absolute; left: 38.281%; top: 94px;
            padding-top: 273px; padding-right: 13.593%;
            text-align: right;
            animation-duration: 3s;
        }

        .new > .new_item2 > div:nth-child(3) {
            width: 61.718%; height: 534px;
            position: absolute; left: 0; top: 94px;
            padding-top: 273px; padding-left: 13.593%;
            text-align: left;
            animation-duration: 3s;
        }

        .new_item1 > div:last-child,
        .new_item3 > div:last-child {
            width: 19.270%; height: 370px;
            position: absolute; left: 67.135%; top: -81px;
            z-index: 2;
            animation-duration: 2.2s;
        }

        .new_item2 > div:last-child {
            width: 19.270%; height: 370px;
            position: absolute; left: 32.812%; top: -81px;
            z-index: 2;
            animation-duration: 2.2s;
        }
        
        .new > .new_item1 .moreBtn,
        .new > .new_item3 .moreBtn {
            margin-top: 50px;
            width: 260px; height: 60px;
            position: absolute; right: 22.341%;
            font-size: 2rem; line-height: 60px;
        }

        .new > .new_item2 .moreBtn {
            margin-top: 50px;
            width: 260px; height: 60px;
            position: absolute;
            font-size: 2rem; line-height: 60px;
        }

        .new > div > div > span {
            margin: 40px auto 110px;
        }

        .new_item1 > div:nth-child(3) {
            background: #ffedfe;
        }

        .new_item2 > div:nth-child(3) {
            background: #fff1f0;
        }

        .new_item3 > div:nth-child(3) {
            background: #fff1ec;
        }


        /* video */

        #video h3 {
            padding: 120px 0;
        }

        .video_wrap h4 {
            margin-bottom: 50px;
        }

        .video_wrap {
            width: 72.916%;
        }

        .video_wrap > div {
            width: 50%;
            float: left; padding: 0 20px 170px 0;
        }

        .video_wrap .video_right {
            padding: 0;
        }

        .video_wrap > div > div {
            padding: 95px 0;
        }

        /* instagram */

        .insta_wrap {
            width: 73.884%;
            margin: 0 auto 160px;
        }

        #insta p {
            margin-bottom: 80px; font-size: 2.3rem;
        }

        #insta > span {
            margin: 160px auto 40px;
            width: 300px; height: 73px;
        }

        .insta_wrap .caption > span {
            padding-top: 230px;
        }


    /* footer */

    footer .pc {
        display: block;
    }

    footer .mobile {
        display: none;
    }

    .footer_wrap {
        width: 72.916%;
        padding: 65px 0 30px;
        position: relative;
    }

    .footer_top {
        position: relative;
        padding: 5px 0 0 290px;
    }

    .footer_top > span img {
        display: inline-block;
        position: absolute; top: 0; left: 0;
        width: 100px;
    }

    .footer_utill {
            float: left;
    }

    .footer_utill li {
        font-size: 1.7rem;
    }

    .footer_utill li:before {
        margin: 0 15px;
    }

    .footer_bottom {
        margin-top: 50px;
        font-size: 1.5rem; text-align: left;
        line-height: 1.667;
    }

    .footer_bottom span:nth-child(odd):after {
        margin: 0 10px;
    }

    .footer_bottom small {
        padding: 30px 0;
    }

    .footer_right {
        position: absolute;
        top: 200px; right: 0;
    }

    .social li {
        float: left;
        padding-right: 19px;
    }

    .social li:last-child {
        padding: 0;
    }
}